#osx-modal-content
  #osx-modal-title
    | Configure Vehicle
  .close
    a.simplemodal-close(href="javascript:;") x
  #osx-modal-data(style="padding:0;")
    iframe(name="editor")
    //pre#editor
    //=xml
    .simplemodal-close(role="button", style="float:right; margin-left: 5px; margin-right: 15px;") Done
    #save-config(role="button", style="float:right;") Save Changes

