div.dashboard.tab-target
  .flex
    .dashboard-left(style="width:60%")
    .resize-horizontal
      div
        div
          | .
          | .
          | .
          | .
          | .
          | .
    .dashboard-right(style="width:40%")