#osx-modal-content-editor
  #osx-modal-title-editor
  .close
    a.simplemodal-close(href="javascript:;") x
  #osx-modal-data-editor(style="padding:0;")
    iframe(name="editor")
    span.editor-message
    .simplemodal-close(role="button", style="float:right; margin-left: 5px; margin-right: 15px;") Done
    #save-editor(role="button", style="float:right;") Save Changes

