#osx-modal-content
  #osx-modal-title
    | Export data as CSV
  .close
    a.simplemodal-close(href="javascript:;") x
  #osx-modal-data
    p Columns to download:
      ol
        - channels.forEach(function(channel) {
          li= channel.title
        - })
    p
      input#resampleRadio(type="radio", name="sampleType", value="resample")
      label.export-label(for="resampleRadio")
        | Resample to:
      input#resample.export-input-text(type="text", value="1.0")
      label.export-label(for="resampleRadio")
        | seconds per sample
      br
      | &nbsp;&nbsp;&nbsp;
      input#minmaxCheckbox(type="checkbox", name="minmax", value="minmax")
      label.export-label(for="minmaxCheckbox")
        | Include minima and maxima
    p
      input#noResampleRadio(type="radio", name="sampleType", value="noResample")
      label.export-label(for="noResampleRadio")
        | Don't resample
    p#exportError(style="visibility: hidden; color: red")
      | Would export
      span#rowCount
      |  rows, maximum is
      span#rowMax
      | .

    .simplemodal-close(role="button", style="float:right; margin-left: 5px;") Done
    #download-data(role="button", title="Download data as CSV.", style="float:right;") Download

