.dashboard-item
  .dashboard-item-header
    - if (shrinkable) {
      span.resize-vertical
        | . . . . .
      a.dashboard-link.toggler(href="javascript:;", title="Hide")
        | –
    - }
    h1.dashboard-item-header-txt
      =title
  .dashboard-item-content
    .finder
      .sidebar
        ul
          li.dark(data-type="users")
            a(href="javascript:;") Users
            span.arrow &rarr;
          li.light(data-type="vehicles")
            a(href="javascript:;") Vehicles
            span.arrow &rarr;
          li.dark(data-type="teams")
            a(href="javascript:;") Teams
            span.arrow &rarr;
          li.light(data-type="fleets")
            a(href="javascript:;") Fleets
            span.arrow &rarr;
      .tree-wrap
        .tree

