.dashboard-item
  .dashboard-item-header
    input(type="submit", class="dashboard-header-button", title="Export visible data as CSV.", value="Export")
    - if (shrinkable) {
      a.dashboard-link.toggler(href="javascript:;", title="shrink")
        | -
    - }
    h1.dashboard-item-header-txt
      | Graph
  .dashboard-item-content
    - if (waiting) {
      p.dashboard-item-message
        | Waiting...
    - } else if (loading) {
      p.dashboard-item-message
        | Loading...
    - } else if (empty) {
      p.dashboard-item-message
        | Nothing to graph.
    - } else {
      .graph.jstree-drop
        div
    - }

