.dashboard-item
  - if (title) {
    .dashboard-item-header.taller-header
      .small-button.add-graph(role="button", title="Add graph pane")
        | Add Graph
      .small-button.export(role="button", title="Export visible data as CSV")
        | Export
      .mouse-time
        span
      - if (shrinkable) {
        a.dashboard-link.toggler(href="javascript:;", title="shrink")
          | -
      - }
      h1.dashboard-item-header-txt
        =title
  - } else {
    .graph-closer
  - }
  .dashboard-item-content
    - if (waiting) {
      p.dashboard-item-message
        | Waiting...
    - } else if (loading) {
      p.dashboard-item-message
        | Loading...
    - } else if (empty) {
      p.dashboard-item-message
        | Nothing to graph.
    - } else {
      .graph
        div
    - }

