div.login-wrap
  div.login
    - if (report && report !== '') {
      h2(class=type)
        =report
    - }
    a.button.google-button(href="/auth/google")
      img(src="/graphics/google_24.png")
      span(style="vertical-align: 7px; padding: 10px;") Sign In with Google
    div.login-form(style="display: none;")
      form
        table(style="display: none;")
          tbody
            tr
              td
                label(for="user[email]") Email
            tr
              td
                input(name="user[email]", type="text", value=email || "", class=!first && email=="" ? "cs-input-alert" : "")
            tr
              td
                label(for="user[password]") Password
            tr
              td
                input(name="user[password]", type="password", value=password || "", class=!first && password=="" ? "cs-input-alert" : "")
            tr
              td
                input#login.(type="submit", title="Log In", value="Log In", style="margin-top:12px")

    