div.manage.tab-target
  .flex
    .dashboard-left(style="width:0", data-width="1")
    // .resize-horizontal
    // div
    // div
    // | .
    // | .
    // | .
    // | .
    // | .
    // | .
    // .dashboard-right(style="width:0", data-width="0.35")
