.dashboard-item
  .dashboard-item-header.sub-header.taller-header
    div.small-button-light.year-scale(role="button") 1 year
    div.small-button-light.month-scale(role="button") 1 month
    div.small-button-light.day-scale(role="button") 1 day
    div.small-button-light.hour-scale(role="button") 1 hour
    div.small-button-light.second-scale(role="button") 1 second
    - if (shrinkable) {
      a.dashboard-link.toggler(href="javascript:;", title="shrink")
        | -
    - }
    h1.dashboard-item-header-txt(style="color:black;")
      =title
  .dashboard-item-content
    - if (waiting) {
      p.dashboard-item-message
        | Waiting...
    - } else if (loading) {
      p.dashboard-item-message
        | Loading...
    - } else if (empty) {
      p.dashboard-item-message
        | You don't have any notifications in your system yet.
    - } else {
      // .navigator-scale
      .navigator-window
      .navigator-window-handle-left
      .navigator-window-handle-right
      .navigator
        div
    - }

