.note(class=onRight ? "left-triangle" : "right-triangle")
  .note-header
    span
      - if (isNew) {
        | Add a comment at
        span(style="font-weight:bold")= time
      - } else {
        | 3 comments at 
        span(style="font-weight:bold")= time
      - }
  .note-content
    - notes.forEach(function (n) {
      .note-user
        =n.user.name.first
      .note-body
        =n.text
    - })
  .note-add
    textarea.note-text(placeholder="Enter text here.")
    .note-channels
      span.note-channels-header Relevant Channels:
      ul
        - channels.forEach(function (c, i) {
            li.note-channel(data-channel-name=c)= c
              a.note-channel-remove(href="javascript:;", title="Remove channel") &nbsp;(X)
        - })
    span.note-message
    .note-actions
      .note-loading
      a.note-cancel Cancel
      .note-post.little(role="button") Post

