.dashboard-item
  .dashboard-item-header
    - if (shrinkable) {
      a.dashboard-link.toggler(href="javascript:;", title="shrink")
        | -
    - }
    h1.dashboard-item-header-txt
      | Notifications
  .dashboard-item-content.scrollable
    - if (loading) {
      p.dashboard-item-message
        | Loading...
    - } else if (rows.length === 0) {
      p.dashboard-item-message
        | You don't have any notifications in your system yet.
    - } else {
      table
        thead
          tr
            th(colspan="2")
              | Type
            - if (!single) {
            th
              | Vehicle
            - }
            th
              | Info
            th
              | Occurred
            th
              | Duration
        tbody
          - rows.forEach(function (row, i) {
          -  row = row.attributes;
            tr(id=row.htmlId, class=['dark','light'][i%2])
              td(width="16")
                img(src=row.icon)
              td(style="font-weight:bold;")
                =row.desc
              - if (!single) {
              td
                =row.vehicle.make + '/' + row.vehicle.model + '/' + row.vehicle.year
              - }
              td(style="font-style:italic;")
                =row.note
              td(data-time=row.beg)
                | -
              td(data-duration=(row.end-row.beg)/1e3)
                | -
          - })
    - }

