#osx-modal-content
  #osx-modal-title
    | Permalink
  .close
    a.simplemodal-close(href="javascript:;") x
  #osx-modal-data
    textarea.permalink-txt= link
    .simplemodal-close(role="button", style="float:right; margin-left: 5px;") Done

