- var dynamicClass = dynamic ? 'tab-dynamic' : '';
div.tab(style="left:"+tabLeft+"px;", data-tab-target=targetClass, data-tab-index=tabIndex, data-id=vehicleId, class=dynamicClass)
  a(href="javascript:;")
    div.tab-side
      img(src="/graphics/tab-left-side-inactive.png", alt="/graphics/tab-left-side-inactive.png")
    div.tab-content.tab-content-inactive
      span
        =title
    div.tab-side
      img(src="/graphics/tab-right-side-inactive.png", alt="/graphics/tab-right-side-inactive.png")
  - if (tabClosable) {
    a.tab-closer(href="javascript:;")
      | X
  - }

