.dashboard-item
  .dashboard-item-header
    //input(type="text", class="dashboard-search", placeholder="search...")
    - if (shrinkable) {
      a.dashboard-link.toggler(href="javascript:;", title="shrink")
        | -
    - }
    h1.dashboard-item-header-txt
      =title
  .dashboard-item-content.scrollable
    - if (loading) {
      p.dashboard-item-message
        | Loading...
    - } else if (empty) {
      p.dashboard-item-message
        | Nothing to graph.
    - } else {
      .tree
    - }

