.dashboard-item
  .dashboard-item-header
    a.dashboard-link.toggler(href="javascript:;", title="shrink")
      | -
    h1.dashboard-item-header-txt
      | Available Channels
  .dashboard-item-content
    - if (loading) {
      p.dashboard-item-message
        | Loading...
    - } else if (empty) {
      p.dashboard-item-message
        | Nothing to graph.
    - } else {
      .tree
    - }

