div
  .flex-top
    .dashboard-left
    .resize-horizontal
    .dashboard-right
  .resize-vertical
  .flex-bottom
    .dashboard-left-side
    .resize-horizontal
    .dashboard-right-wide
      .top
      .bottom

