div.tab-target(class=targetClass)
  .flex
    .dashboard-left(style="width:0", data-width="0.4")
      .top
      .bottom
    .resize-horizontal
      div
        div
          | .
          | .
          | .
          | .
          | .
          | .
    .dashboard-right(style="width:0", data-width="0.6")
      .top
      .middle
      .bottom

