.dashboard-item
  .dashboard-item-header
    - if (shrinkable) {
      a.dashboard-link.toggler(href="javascript:;", title="shrink")
        | -
    - }
    h1.dashboard-item-header-txt
      | Vehicles
  .dashboard-item-content.scrollable
    - if (loading) {
      p.dashboard-item-message
        | Loading...
    - } else if (rows.length === 0) {
      p.dashboard-item-message
        | You don't have any vehicles in your system yet.
    - } else {
      table
        thead
          tr
            th
              | Make
            th
              | Model
            th
              | Year
            th
              | Owner
            th(colspan="2")
              | Last Seen
        tbody
          - rows.forEach(function (row, i) {
          -  row = row.attributes;
            tr(id=row.htmlId, class=['dark','light'][i%2], data-title=row.make+"/"+row.model+"/"+row.year)
              td(style="font-weight:bold;")
                =row.make
                span.edit-panel
                  a.edit-link(href="javascript:;", title="Edit")
                    | Edit |
              td(style="font-weight:bold;")
                =row.model
              td(style="font-weight:bold;")
                =row.year
              td(style="font-style:italic;")
                - if (row.user) {
                  =row.user.email
                - } else {
                  | n / a
                - }
              td(colspan="2", data-time=row.lastSeen)
                | -
              td(align="right")
                - if (row.lastSeen !== 0) {
                  div.open-vehicle(role="button", title="Explore vehicle data.")
                    div
                    span Open
                - } else {
                  | &nbsp;
                - }
          - })
    - }

