div
  .dashboard-top
  .flex
    .dashboard-left
    .resize-horizontal
    .dashboard-right
  .resize-vertical
  .flex
    .dashboard-left-side
    .resize-horizontal
    .dashboard-right-wide
      .top
      .bottom
  .dashboard-bottom

