div(class=targetClass)
  .flex
    .dashboard-left(style="width:40%")
      .top
      //.resize-vertical
      .bottom
    .resize-horizontal
      div
        div
          | .
          | .
          | .
          | .
          | .
          | .
    .dashboard-right(style="width:60%")
      .top
      //.resize-vertical
      .middle
      //.resize-vertical
      .bottom

