doctype html
html(lang="en")
  head
    title Skyline | 404
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="author", content="")
    meta(charset="UTF-8")
    <!--[if lt IE 9]><script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    link(rel="stylesheet", href="#{root}/css/style.css")
    link(rel="shortcut icon", href="#{root}/img/favicon.ico", type="image/x-icon")  
  body
    .error
      .http-error
        | Error 404: Whatever you are looking for is not here!
      .http-notice
        | The link you followed may be broken, or the page may have been removed. Feel free to contact us.
    .error-help
      a(href="mailto:support@skyline-app.com") Contact Support
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-47136950-1', 'skyline-app.com');
      ga('send', 'pageview');
