#container
  header
    img#logo(src="/gfx/logo.png", alt="Mission Motors")
  #main(role="main")
    div.tabs
      div.tab.tab-active(style="left: 30px;")
        a(href="#")
          div.tab-side
            img(src="/gfx/tab-left-side.png", alt="/gfx/tab-left-side-dark.png")
          div.tab-content All Cycles
          div.tab-side
            img(src="/gfx/tab-right-side.png", alt="/gfx/tab-right-side-dark.png")
      div.tab(style="left: 128px;")
        a(href="#")
          div.tab-side
            img(src="/gfx/tab-left-side-dark.png", alt="/gfx/tab-left-side.png")
          div.tab-content.tab-content-inactive My History
          div.tab-side
            img(src="/gfx/tab-right-side-dark.png", alt="/gfx/tab-right-side.png")
      div.tab(style="right: 20px;")
        a(href="#")
          div.tab-side
            img(src="/gfx/tab-left-side-dark.png", alt="/gfx/tab-left-side.png")
          div.tab-content.tab-content-inactive Preferences
          div.tab-side
            img(src="/gfx/tab-right-side-dark.png", alt="/gfx/tab-right-side.png")
      div.tab-bar
        div.tab-bar-top
        div.tab-bar-bottom
    div.folder
      table
        thead
          tr
            th.expand &nbsp;
            th.leftest Vehicle
            th Identifier
            th Miles Recorded
            th Last Seen
            th.rightest EV Compatibility
        tbody
          !=partial('row', data)
  footer