extends layout

block content
  #container
    header
      div#header(class=(typeof wide !== 'undefined' ? "wide": ""))
        - if (user)
          div.user-box
            a#header_avatar.header-avatar(href="/" + user.username)
              img(src="https://www.gravatar.com/avatar/" + user.gravatar + "?s=30&d=mm", width="30", height="30")
            a#logout.header-action(href="/logout")
              span.icon-logout
          a#save_view.button(href="javascript:;") Save view as
        - else
          a#signin.button(href="javascript:;") Sign in
        div.header-logo
          a(href="/")
            img#logo(src="/img/login_logo.png", height="10")
        span.header-title
    #main(role="main")
    footer
