extends layout

block content
  .container
    .page-spin
    .block-messages
      ul
    - if (typeof embed === 'undefined' || !embed)
      header
        .saved-ghost
          form(enctype="multipart/form-data", method="POST")
            input(name="username", type="text")
            input(name="password", type="password")
            input(value="_", type="submit")
          ul
        .header
          - if (typeof user !== 'undefined')
            .user-box
              a.username.header-action(href="/#{user.username}") #{user.displayName}
              a.header-action.navigate(href="/settings")
                i.icon-menu-1
              a.header-action(href="/logout")
                i.icon-logout
              a.button.blue-button.add-data-button(href="javascript:;") Add Data
          - else
            a.button.signin-button(href="javascript:;") Sign in
          .header-logo
            a.navigate(href="/")
              img(src="#{root}/img/time.png", width="13", height="12")
              | Skylin
          .header-middle
            input.header-search(type="search", placeholder="Search...")
            span.header-title
    - var hc = typeof embed !== 'undefined' && embed ? "main embed": "main";
    div(class=hc, role="main")
    - if (typeof embed === 'undefined' || !embed)
      footer
        .footer
          ul
            li
              a(href="/about", class="navigate") About
            li
              a(href="/contact", class="navigate") Contact
            li
              a(href="/privacy", class="navigate") Privacy Policy
            li
              a(href="/terms", class="navigate") Terms of Use
