#container
  header
    a(href="http://ridemission.com/", target="_blank")
      img#logo(src="/graphics/logo-small.png", alt="Mission Motors")
    nav
      ul
  #main(role="main")
    .dashboard-left
    .dashboard-right
  footer

