#loading
#container
  header
    div
      a(href="http://ridemission.com/", target="_blank")
        img#logo(src="/graphics/logo-text.png", alt="Mission Motors")
        span(style="color:#80FF00; font-weight:bold; font-size:10px;")
          |  : Skyline
        span(style="color:#ccc; font-weight:bold; font-size:8px;")
          |  [beta]
    div
      nav
        ul
  #main(role="main")
    div.tabs
      div.tabs-dynamic
      div.tab-bar
    div.folder
  footer

  