extends layout

block content
  #container
    header
      div
        a(href="/")
          img#logo(src="/img/skyline.png", alt="Skyline")
      div
        nav
          ul
    #main(role="main")
    footer
