#loading
#container
  header
    div
      a(href="/")
        img#logo(src="/graphics/skyline.png", alt="Skyline")
    div
      nav
        ul
  #main(role="main")
    div.tabs
      div.tabs-dynamic
      div.tab-bar
    div.folder
  footer

  