extends layout

block content
  div.container
    header
      div.header.wide
        - if (typeof user !== 'undefined')
          div.user-box
            a#username.username.header-action(href="/" + user.username) #{user.displayName}
            a#menu.header-action(href="javascript:;")
              i.icon-menu-1
            a.header-action(href="/logout")
              i.icon-logout
        - else
          a#signin.signin-button.button(href="javascript:;") Sign in
        div.header-logo
          a(href="/")
            img(src="#{root}/img/time.png", width="13", height="12")
            | Skylin
        span.header-title
    div.main(role="main")
    footer
