extends layout

block content
  #container
    header
      div#header
        - if (user)
          div.user-box
            div.divider-vertical
            a#header_avatar.header-avatar(href="/" + user.username)
              img(src="https://www.gravatar.com/avatar/" + user.gravatar + "?s=50&d=https%3A%2F%2Fd271mvlc6gc7bl.cloudfront.net%2Fmain%2Fimg%2Favatar_100.png", width="50", height="50")
            div.divider-vertical
            a#logout.header-action(href="/logout")
              span.icon-logout-1
            div.divider-vertical
        - else
          a#signin.button(href="javascript:;") Sign in
        div.header-logo
          a(href="/")
            img#logo(src="/img/hercules.png")
    #main(role="main")
    footer
