extends layout

block content
  .container.wide.landing
    .page-spin
    .block-messages
      ul
    - if (typeof embed === 'undefined' || !embed)
      header
        .header
          - if (typeof user !== 'undefined')
            .header-user-box
              .header-user
                a.navigate(href="/#{user.username}")
                  img(src="https://www.gravatar.com/avatar/" + user.gravatar + "?s=34&d=mm", width="34", height="34")
                i.icon-down-dir
                ul.header-user-menu
                  li
                    a.navigate(href="/" + user.username)
                      | Profile
                      i.icon-library
                  li
                    a.navigate(href="/settings")
                      | Settings
                      i.icon-cog
                  li
                    a(href="/logout")
                      | Logout
                      i.icon-logout(style="right:9px;")
              a.button.blue-button.add-data-button(href="javascript:;")
                i.icon-upload
                | Upload Data
          - else
            a.button.blue-button.signup-button(href="/signup", class="navigate")
              | Sign Up For Free
              i.icon-right-open-big
            a.button.signin-button(href="/signin", class="navigate")
              | Log In
          .header-logo
            a.navigate(href="/")
              | Skyline
              span
                | beta
          .header-search
            .header-search-inner
              input.header-search-input(type="search", tabindex="1", placeholder="Search for datasets, channels and more...")
              .search-spin
              .search-display
                .list-header
          ul.header-navigation
            li
              a(href="/", class="navigate") Home
            li
              a(href="/about", class="navigate") About
            li
              a(href="/library", class="navigate") Library
    block main
          
