- if (typeof sid === "undefined") { sid = null; }
- if (typeof state === "undefined") { state = null; }
script
  _MM_SessionID_ = '#{sid}';
  _MM_StateSTR_ = '#{state}';
#loading
#container
  header
    div
      a(href="/")
        img#logo(src="/graphics/skyline.png", alt="Skyline")
    div
      nav
        ul
  #main(role="main")
    div.tabs
      div.tabs-dynamic
      div.tab-bar
    div.folder
  footer

  