extends layout

block content
  .container
    .page-spin
    .block-messages
      ul
    - if (typeof embed === 'undefined' || !embed)
      header
        .saved-ghost
          form(enctype="multipart/form-data", method="POST")
            input(name="username", type="text")
            input(name="password", type="password")
            input(value="_", type="submit")
          ul
        .header
          - if (typeof user !== 'undefined')
            .header-user-box
              .header-user
                a.navigate(href="/#{user.username}")
                  img(src="https://www.gravatar.com/avatar/" + user.gravatar + "?s=34&d=mm", width="34", height="34")
                i.icon-down-dir
                ul.header-user-menu
                  li
                    a.navigate(href="/settings")
                      | Settings
                      i.icon-cog
                  li
                    a(href="/logout")
                      | Logout
                      i.icon-logout(style="right:9px;")
              a.button.blue-button.add-data-button(href="javascript:;")
                i.icon-upload
                | Upload Data
          - else
            a.button.signin-button(href="javascript:;") Sign in
          .header-logo
            a.navigate(href="/")
              //- img(src="#{root}/img/time.png", width="13", height="12")
              | Skyline
          .header-search
            input.header-search-input(type="search", placeholder="Search...")
          .page-header
    - var hc = typeof embed !== 'undefined' && embed ? 'main embed': 'main';
    div(class=hc, role="main")
    - if (typeof embed === 'undefined' || !embed)
      footer
        .footer
          ul
            li
              a(href="/about", class="navigate") About
            li
              a(href="/contact", class="navigate") Contact
            li
              a(href="/privacy", class="navigate") Privacy Policy
            li
              a(href="/terms", class="navigate") Terms of Use
