div.landing-wrap
  div.landing-line
  div.landing-center(style="height: 64px;")
    div.landing-form
      form#login-form(method='post', action='/sessions')
        table
          tbody
            tr
              td
                label(for='user[email]') Email
              td
                label(for='user[password]') Password
            tr
              td
                input(name='user[email]', type='text')
              td
                input(name='user[password]', type='password')
              td
                input#login.cs-button(type='submit', title='Log In', value='Go')
            //tr
            //td(style='padding-top: 10px')
            //input#remember_me(type='checkbox', name='remember_me')
            //label(for='remember_me') Keep me logged in
            //td(style='padding-top: 10px')
            //a(href='', rel='nofollow') Forgot your password?
    div.landing-reports
      #landing-error
        p.landing-report
    div.landing-logo
      img(src='/graphics/logo-small.png', alt='Mission Motors Logo')
  div.landing-text
    div.landing-center
      h1
        span.orange Mission Motor Company 
        | drive cycle browsing has arrived.
        h2.landing-one Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  div.landing-center-wide
    #landing-map.map-tmp
    #landing-phone
      img(src='/images/phone.png', alt='Android Phone')
    #landing-meta
      h2.landing-two 13,256 drive cycles contributed
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  div.landing-bottom
    div.landing-center
      span.landing-copy
        | Mission Motors Company lives in San Francisco
        br
        | 1177 Harrison St.
        br
        | t 415.666.2000
        br
        | w 
        a(href='http://ridemission.com', target='_blank') http:\/\/ridemission.com