| #{body}
br
br
span(style="font-size:80%;color:#808080;") _
br
a(href=url, style="font-size:80%;") View it on Timeline
span(style="font-size:80%;color:#808080;") .&nbsp;Manage your&nbsp;
a(href=surl, style="font-size:80%;") notification settings
span(style="font-size:80%;color:#808080;")
  | .
