doctype html
html(lang="en")
  head
    meta(property="og:site_name", content="Timeline")
    meta(property="fb:app_id", content="")
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="author", content="")
    meta(charset="UTF-8")
    link(rel="shortcut icon", href="#{root}/img/favicon.ico", type="image/x-icon")
  body
