doctype html
html(lang="en")
  head
    - if (typeof title !== 'undefined')
      title= 'Skyline | ' + title
    - else
      title Skyline - Visualize, Stream and Collaborate on Time-series Data
    meta(property="og:site_name", content="Skyline")
    meta(property="fb:app_id", content="")
    meta(name="description", content="Skyline is a tool used to collaborate on time-series data.  Stream real-time data or upload .csv  and Excel files.  Perform analytics, annotate insights and engage a community of professionals.")
    meta(name="author", content="")
    meta(charset="UTF-8")
    link(rel="shortcut icon", href="#{root}/img/favicon.ico", type="image/x-icon")
  body
    header
      nav
        ul
          li
            a(href="/how") How Skyline Works
          li
            a(href="/library") Public Data
          li
            a(href="/trending") Trending
          li
            a(href="/mission") Our Mission
    - if (typeof body !== 'undefined')
      !{body}
    footer
      nav
        ul
          li
            a(href="/contact") Contact
          li
            a(href="/privacy") Privacy Policy
          li
            a(href="/terms") Terms of Use
