| Hey there, #{user.email}.
br
br
| Welcome to our Drive Cycle tracking project!
br
br
| You may now navigate to our 
a(href='http://50.19.108.253/login') web portal 
| and begin browsing your drive cycles. You will need the password you set through your mobile device to login.
br
br
| Regards,
br
br
| The Mission Motors Mail Robot