/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { /*background-color: #ff9;*/ color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { /*overflow-y: scroll;*/ }
a:hover, a:active { outline: none; }
/*ul, ol { margin-left: 2em; }*/
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

/*.........................................................................*/
/*.........................................................................*/

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity:0; 
    -webkit-transform:translateY(20px)
  }
  100% {
    opacity:1;
    -webkit-transform:translateY(0)
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity:0;
    -moz-transform:translateY(20px)
  }
  100% {
    opacity:1;
    -moz-transform:translateY(0)
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity:0;
    -o-transform:translateY(20px)
  }
  100% {
    opacity:1;
    -o-transform:translateY(0)
  }
}
@keyframes fadeInUp {
  0% {
    opacity:0;
    transform:translateY(20px)
  }
  100% {
    opacity:1;
    transform:translateY(0)
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity:0; 
    -webkit-transform:translateY(-20px)
  }
  100% {
    opacity:1;
    -webkit-transform:translateY(0)
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity:0;
    -moz-transform:translateY(-20px)
  }
  100% {
    opacity:1;
    -moz-transform:translateY(0)
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity:0;
    -o-transform:translateY(-20px)
  }
  100% {
    opacity:1;
    -o-transform:translateY(0)
  }
}
@keyframes fadeInDown {
  0% {
    opacity:0;
    transform:translateY(-20px)
  }
  100% {
    opacity:1;
    transform:translateY(0)
  }
}

/*.........................................................................*/

html {}

body {
  background: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #4f4f4f;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a,
a:visited {
  color: #3f3f3f;
  background-color: #f9f9f9;
  padding: 0;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #2f2f2f;
}

a:active {
  background-color: #f2f2f2;
}

a:focus {
  outline: none;
}

a::-moz-focus-inner,
button::-moz-focus-inner {
  border: none;
}

canvas {
  letter-spacing: 1px;
}

header {
  width: 100%;
  height: 50px;
  padding: 5px 0;
  background: #f9f9f9;
  z-index: 2;
  border-bottom: 1px solid #d0d0d0;
}

footer {
  position: fixed;
  background: #2f2f2f;
  width: 100%;
  height: 23px;
  bottom: 0;
}

table {
  width: 100%;
}

label {
  font-size: 11px;
  padding: 0 0 2px 0;
  color: #666;
}

label.export-label {
  padding: 0;
  color: black;
  font-weight: bold;
  font-size: 10px;
}

input[type=text],
input[type=password],
input[type=search] {
  background: white;
  font-size: 12px;
  margin: 0 0 10px 0;
  padding: 8px 12px;
  color: #404040;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 100ms;
  transition-timing-function: ease-out;
  transition-duration: 100ms;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=search]:focus {
  background: #F8F8F8 !important;

  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #98c1e6;
}

input[type=text].saved,
input[type=password].saved {
  background: #faffbd !important;
}

.placeholder {
  color: gray !important;
}

input:not([type=submit]):focus {
  background: rgba(255,255,255,0.1);
}

a.button,
div[role=button],
input[type=submit] {
  font-size: 12px;
  padding: 5px 20px;
  font-weight: 700;
  min-width: 54px;
  line-height: 22px;

  outline: 0;
  text-align: center;
  display: inline-block;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  background-color: #ccc;
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
  color: #444;
  border: 1px solid #ccc;

  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  cursor: pointer;

  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 100ms;
  transition-timing-function: ease-out;
  transition-duration: 100ms;
}

input[type=submit] {
  height: 32px;
}

a.button:hover,
div[role=button]:hover,
input[type='submit']:hover {
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

a.button:active,
div[role=button]:active,
input[type='submit']:active {
  -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}

a.button:focus,
div[role=button]:focus,
input[type=submit]:focus {
  border: 1px solid #98c1e6;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0 5px 0 0;
  vertical-align: middle;
}

input:focus, textarea:focus {
  outline: none;
}

input::-moz-focus-inner, textarea::-moz-focus-inner {
  border: none;
}

a.button.disabled,
input[type="submit"][disabled="disabled"] {
  opacity: 0.5;
  cursor: default;

  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a.button.loading,
div[role=button].loading,
input[type=submit].loading {
  color: transparent !important;
}

a.button.connect-button {
  border-color: #fff;
  color: #fff;
  border-radius: 0;

  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a.button.connect-button:focus {
  border: 1px solid #4f4f4f;
}

a.google-button {
  background: rgba(221,67,55,0.8);
}

a.google-button:hover {
  background: rgba(221,67,55,0.9);
}

a.google-button:active {
  background: rgba(221,67,55,1);
}

a.google-button-disabled {
  background: rgba(221,67,55,0.5);
  cursor: default;
}

a.facebook-button {
  background: rgba(59,89,152,0.8);
}

a.facebook-button:hover {
  background: rgba(59,89,152,0.9);
}

a.facebook-button:active {
  background: rgba(59,89,152,1);
}

a.facebook-button-disabled {
  background: rgba(59,89,152,0.5);
  cursor: default;
}

a.twitter-button {
  background: rgba(60,143,201,0.9);
}

a.twitter-button:hover {
  background: rgba(60,143,201,0.75);
}

a.twitter-button:active {
  background: rgba(60,143,201,1);
}

a.twitter-button-disabled {
  background: rgba(60,143,201,0.5);
  cursor: default;
}

a.delete-button,
a.button.danger {
  background: rgba(208,76,56,0.8);
  border: 1px solid #2f2f2f;
  color: #fff;
}

a.delete-button:hover,
a.button.danger:hover {
  background: rgba(208,76,56,0.9);
}

a.delete-button:active,
a.button.danger:active {
  background: rgba(208,76,56,1);
}

/*.........................................................................*/

input.input-error {
  border: 1px solid rgba(255,0,0,0.4) !important;
}

input.file-input {
  position: absolute;
  z-index: 10;
  opacity: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 22px;
  padding: 0;
  cursor: text;
}

span.empty-feed {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  font-style: italic;
  color: #808080;
  text-align: center;
  font-size: 10px;
}

span.empty-list {
  display: inline-block;
  margin: 0 0 10px 0;
  font-style: italic;
  color: #808080;
  line-height: 18px;
  font-size: 10px;
}

.list-spin {
  width: 100%;
}

.list-spin .empty-feed {
  display: none;
  line-height: 40px;
}

.list-spin > div {
  width: 50px;
  height: 40px;
  margin: 0 auto;
}

.button-spin {
  position: absolute;
  top: 16px;
  left: 50%;
}

.http-error {
  display: block;
  margin-top: 70px;
  font-weight: bold;
  font-size: 20px;
  color: #4d4d4d;
  line-height: 40px;
  text-align: center;
}

.http-notice {
  font-size: 12px;
  color: #4d4d4d;
  text-align: center;
}

.textright {
  text-align: right;
}

/*.........................................................................*/

.container {
  padding: 0;
  overflow-x: hidden;
}

.main {
  width: 100%;
  height: 100%;
  margin-bottom: 23px;
}

.page {
  width: 480px;
  margin: 30px auto 60px;
}

.page td {
  position: relative;
}

.page form {
  margin-bottom: 20px;
}

.page td input[type="text"],
.page td input[type="password"],
.page td input[type="submit"],
.page td a.button {
  width: 100%;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box
}

.page a.connect-button {
  margin-bottom: 5px;
}

.page-spin {
  position: absolute;
  top: 30px;
  left: 110px;
}

.page-heading {
  font-size: 16px;
  line-height: 48px;
  display: block;
  color: #3f3f3f;
}

.page-section {
  display: block;
  font-size: 14px;
  line-height: 32px;
  font-weight: bold;
  color: #3f3f3f;
}

.page-error {
  display: block;
  color: #cc0f0f;
  font-size: 11px;
  text-align: left;
  line-height: 48px;
  float: right;
}

/*.........................................................................*/

.block-messages {
  position: absolute;
  z-index: 10001;
  left: 50px;
  bottom: 50px;
  width: auto;
  white-space: nowrap;
  min-width: 300px;
}

.block-remove {
  float: right;
  cursor: pointer;
  padding: 0 10px;
  line-height: 40px;
  color: #6f6f6f;
  font-size: 14px;

  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.block-remove:hover {
  background: rgba(0,0,0,0.05);
}

.block-remove:active {
  background: rgba(0,0,0,0.08);
}

.block-messages li {
  position: relative;
  margin-top: 5px;
  list-style-type: none;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: .2s;
  -moz-animation-duration: .2s;
  -o-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.block-error {
  background: rgba(204, 15, 15, 0.3);
}

.block-alert {
  background: rgba(39, 205, 214, 0.3);
}

.block-error-txt,
.block-alert-txt {
  font-size: 11px;
  padding: 0 10px;
  color: #3f3f3f;
  font-weight: 700;
  line-height: 40px;
}

.block-error-txt a {
  text-decoration: underline;
}

/*.........................................................................*/

.header {
  width: 800px;
  height: 50px;
  margin: 0 auto;
  min-width: 430px;
}

.header.wide {
  width: 100%;
}

.header .header-logo {
  width: 59px;
}

.header.wide .header-logo {
  margin-left: 20px;
}

.header .header-logo a {
  white-space: nowrap;
  font-size: 20px;
  color: #2f2f2f;
  background: none;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  text-transform: lowercase;
  line-height: 47px;
}

.header .header-logo img {
  margin-top: 20px;
  float: right;
}

.header .user-box {
  float: right;
  white-space: nowrap;
  padding-left: 20px;
  margin-top: -5px;
  height: 60px;
  border-left: 1px solid #d0d0d0;
}

.header.wide .user-box {
  margin-right: 40px;
}

.header .header-title {
  display: none;
  position: absolute;
  z-index: -1;
  top: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  font-size: 18px;
  line-height: 61px;
  color: #8f8f8f;
}

.header.wide .header-title {
  display: block;
}

a.header-action {
  position: relative;
  display: inline-block;
  line-height: 61px;
  font-size: 14px;
  color: #4f4f4f;
  padding-left: 10px;
  text-transform: uppercase;
  background: none;
}

a.header-action:hover {
  color: #0f0f0f;
}

a.header-action:active {
  top: 1px;
}

.header a.username {
  font-size: 11px;
  padding-right: 10px;
}

.header a.add-data-button {
  margin-left: 20px;
  background: rgba(39, 205, 214, 0.8);
  color: #fff;
  border-color: #4f4f4f;
  font-size: 14px;
}

.header a.add-data-button:active {
  background: rgba(39, 205, 214, 1);
}

.header [class^="icon-"]:before, [class*=" icon-"]:before {
  margin: 0;
}

.header a.signin-button {
  float: right;
  margin-top: 8px;
}

.header.wide a.signin-button {
  margin-right: 40px;
}

/*.........................................................................*/

.modal-inner {
  position: relative;
  padding: 20px 30px 0;
  width: 640px;
}

.modal-inner td {
  position: relative;
}

.modal-inner td:first-child {
  padding-right: 10px;
}

.modal-inner form {
  margin-bottom: 20px;
}

.modal-inner td input,
.modal-inner td a.button {
  width: 100%;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box
}

.modal-inner-narrow {
  padding: 50px;
}

.modal-title {
  background: #2f2f2f;
  color: #fff;
  display: block;
  font-size: 11px;
  padding: 0 5px;
  font-weight: 700;
}

.modal-heading {
  font-size: 12px;
  line-height: 40px;
  display: block;
  color: #6f6f6f;
}

.modal-error {
  display: block;
  color: #cc0f0f;
  font-size: 11px;
  text-align: left;
  float: right;
}

.modal-body {
  padding: 30px;
}

.modal-body > p {
  font-size: 12px;
  line-height: 18px;
  color: #4d4d4d;
}

.modal-actions {
  border-top: 1px solid #d0d0d0;
  padding: 15px 20px;
  background: #f9f9f9;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  font-size: 0;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  -moz-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
}

.modal-link {
  font-size: 10px;
  margin: 5px 0 0 0;
  text-align: right;
  display: block;
}

a.button.modal-button {
  margin-left: 10px;
}

a.button.modal-button.full {
  width: 100%;
  margin: 0;
}

/*.........................................................................*/

.confirm-inner {
  padding: 0;
  width: 660px;
}

/*.........................................................................*/

.forgot-inner .modal-error {
  float: none;
}

/*.........................................................................*/

.signin-inner {
  width: 560px;
}

.signin-inner table td {
  padding-right: 10px;
}

.signin-inner table td:last-child {
  padding-right: 0;
}

.connect-wrap {
  margin-bottom: 20px;
}

.connect-wrap .button-spin {
  top: 17px;
}

.signup-wrap {
  float: left;
  width: 250px;
}

.login-wrap {
  margin: 0 0 0 280px;
  width: 250px;
  background: #f9f9f9;
  padding: 0 15px 12px;
}

.signup-button {
  margin-bottom: 10px;
}

.signin-error {
  text-align: left;
  float: right;
  margin-top: 10px;
}

.forgot-password {
  margin-top: 10px;
  display: block;
  text-align: center;
  color: #8f8f8f;
  font-size: 10px;
}

.saved-ghost {
  display: none;
}

.form-iframe {
  display: none;
}

/*.........................................................................*/

.settings-saved,
.setting-error {
  display: none;
  color: #390;
  font-size: 11px;
  font-weight: bold;

  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
.settings-error {
  line-height: inherit;
}
.settings-gravatar img {
  display: inline;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  vertical-align: -7px;
}
.settings-gravatar a {
  font-weight: bold;
  margin-left: 2px;
}

/*.........................................................................*/

.profile {
  width: 100%;
  position: relative;
  background: none;
}

.profile.dragging {
  background: rgba(0,255,0,0.1);
}

.profile table {
  width: 100%;
}

.profile td,
.browser td {
  text-align: center;
  white-space: nowrap;
}

.profile td {
  width: 170px;
  padding: 30px 20px;
}

.browser .profile-datasets td {
  width: 120px;
  padding: 10px 15px;
  font-size: 11px;
}

.profile td.main-cell,
.browser td.main-cell {
  position: relative;
  width: inherit;
  text-align: left;
}

.profile tr.list-header,
.browser tr.list-header {
  text-transform: uppercase;
  font-size: 10px;
  color: #8f8f8f;
  background: #f9f9f9;
  border-bottom: 1px solid #d0d0d0;
}

.profile tr.list-header td {
  padding: 20px;
}

.browser tr.list-header td {
  padding: 5px 0;
  font-size: 10px;
}

.profile tr.list-header td.main-cell {
  padding-left: 70px;
  font-size: 14px;
}

.browser tr.list-header td.main-cell {
  padding-left: 40px;
}

.profile-datasets,
.profile-views {
  min-height: 72px;
  background: #f1f1f1;
}

.browser .profile-datasets {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

.profile-dataset,
.profile-view {
  position: relative;
  display: none;
  border-bottom: 1px solid #d0d0d0;
  cursor: pointer;

  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: .2s;
  -moz-animation-duration: .2s;
  -o-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;

  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.profile-dataset:hover,
.profile-view:hover {
  background: #dfdfdf;
}

.profile-avatar {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid #d0d0d0;
}

.browser .profile-avatar {
  width: 30px;
  height: 30px;
}

.profile-item-title {
  display: block;
  font-size: 16px;
  color: #3f3f3f;
}

.browser .profile-item-title {
  font-size: 11px;
}

.profile-item-title [class^="icon-"]:before, [class*=" icon-"]:before {
  margin-left: 0;
}

.profile-item-stats {
  position: absolute;
  left: 42px;
  bottom: 5px;
  font-size: 0;
}

.browser .profile-item-stats {
  display: none;
}

.profile-item-stats span {
  margin: 0 12px 0 0;
  color: #8f8f8f;
  font-weight: bold;
  font-size: 10px;
}

td.profile-item-delete {
  width: 20px;
  cursor: pointer;
  color: #4f4f4f;
}

td.profile-item-delete:hover {
  background: rgba(0,0,0,0.05);
}

td.profile-item-delete:active {
  background: rgba(0,0,0,0.08);
}

/*.........................................................................*/

.chart {
  background: white; 
  margin: 0;
  width: 100%;
  position: relative;

  -webkit-transition: height 0.25s;
  -moz-transition: height 0.25s;
  -ms-transition: height 0.25s;
  -o-transition: height 0.25s;
  transition: height 0.25s;
}

.upper-panel {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 33px;
  background: #f9f9f9;
  border-bottom: 1px solid #d0d0d0;
  white-space: nowrap;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.controls {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

a.control-button {
  float: right;
  position: relative;
  display: inline-block;
  border-left: 1px solid #ddd;
  width: 44px;
  height: 26px;
  padding: 7px 0 0 0;
  text-align: center;
  font-size: 11px;
  color: #3f3f3f;
  font-weight: 700;
  background: #f9f9f9;
}

a.control-button:hover {
  color: #3f3f3f;
}

a.control-button:active {
  background: #f0f0f0;
}

.side-panel {
  position: absolute;
  z-index: 11;
  top: 33px;
  bottom: 270px;
  right: -250px;
  width: 250px;
  overflow-y: auto;
  background: rgba(249,249,249,0.8);
  border-left: 1px solid #d0d0d0;
  border-top: 1px solid #d0d0d0;

  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  -ms-transition: right 0.3s;
  -o-transition: right 0.3s;
  transition: right 0.3s;
}

.side-panel.open {
  right: 0;
}

.lower-panel {
  position: absolute;
  z-index: 12;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 270px;
  background: #f1f1f1;
  border-top: 1px solid #d0d0d0;
}

.graphs {
  position: absolute;
  top: 34px;
  bottom: 270px;
  width: 100%;
  min-height: 300px;
}

.graph {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100% !important;
  min-height: 300px;
}

.graph:focus {
  outline: none;
}

.graph::-moz-focus-inner {
  border: none;
}

.mouse-time {
  position: absolute;
  left: 50%;
  top: 33px;
  background: rgba(0,0,0,0.4);
  padding: 0 5px;
  text-align: center;
  min-width: 160px;
}

.mouse-time > span {
  color: white;
  font-size: 9px;
  font-weight: bold;
  white-space: nowrap;
}

.legend {
  display: none;
}

/*.........................................................................*/

.datasets {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  font-size: 0;
}

.dataset {
  position: relative;
  display: inline-block;
  margin-top: -1px;
  height: 35px;
  border-right: 1px solid #d0d0d0;
}

.dataset-avatar {
  float: left;
  height: 23px;
  width: 23px;
  background: #f9f9f9;
  padding: 5px;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
}

.dataset-avatar img {
  border-radius: 2px;
}

.dataset-remove {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  cursor: pointer;
  padding: 0 10px;
  line-height: 35px;
  color: #4f4f4f;
  font-size: 11px;
}

.dataset.active .dataset-remove {
  color: #fff;
}

.dataset-remove:hover {
  background: rgba(0,0,0,0.04);
}

.dataset-remove:active {
  background: rgba(0,0,0,0.07);
}

a.dataset-button {
  display: block;
  position: relative;
  height: 35px;
  width: 200px;
  margin-left: 33px;
  margin-right: 40px;
  background: none;

  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 100ms;
  transition-timing-function: ease-out;
  transition-duration: 100ms;
}

a.dataset-button .dataset-button-bg {
  display: none;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  background: #3f3f3f;
  width: 241px;
  height: 100%;

  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: .1s;
  -moz-animation-duration: .1s;
  -o-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.dataset.active a.dataset-button .dataset-button-bg {
  display: block;
}

.dataset-title {
  position: relative;
  z-index: 1;
  margin-left: 5px;
  font-size: 12px;
  color: #3f3f3f;
  line-height: 23px;
}

.dataset-stats {
  position: relative;
  z-index: 1;
  display: block;
  margin-left: 6px;
  margin-top: -1px;
  line-height: 0;
  font-size: 9px;
  text-transform: lowercase;
  color: #3f3f3f;
}

.dataset:active .dataset-title,
.dataset:active .dataset-stats {
  color: #0f0f0f;
}

.dataset.active .dataset-title,
.dataset.active .dataset-stats {
  color: #fff;
}

a.dataset-add-button {
  position: absolute;
  top: 0;
  right: -45px;
  display: inline-block;
  color: #8f8f8f;
  font-size: 16px;
  line-height: 33px;
  border-right: 1px solid #d0d0d0;
  text-align: center;
  width: 44px;
  cursor: pointer;
}

a.dataset-add-button:hover {
  color: #3f3f3f;
}

a.dataset-add-button:active {
  background: #f0f0f0;
}

.channels-wrap {
  position: absolute;
  z-index: 12;
  left: 33px;
  right: 0;
  top: 34px;
  width: 241px;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(249,249,249,0.8);
}

.channels {
  display: none;
  width: 239px;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  border-color: transparent;

  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: .2s;
  -moz-animation-duration: .2s;
  -o-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.channels.open {
  border-color: #d0d0d0;
}

.channel {
  display: none;
  position: relative;
  left: -1px;
  width: 239px;
  border-color: #d0d0d0;
  border-style: solid;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  opacity: 1;

  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.channel:hover {
  background: #f9f9f9;
}

.channel:active {
  background: #f2f2f2;
}

.channel.active {
  top: -1px;
}

a.channel-button {
  display: block;
  padding: 7px 4px 2px;
  background: none;
  white-space: nowrap;
}

.channel-name {
  font-size: 11px;
  color: #3f3f3f;
}

.channel:not(.active) a.channel-button:hover .channel-name {
  color: #0f0f0f;
}

.channel.active .channel-name {
  color: #fff;
}

/*.........................................................................*/

.comments {
  margin: 10px 0 0 0;
  border-bottom: 1px solid #eee;
  padding: 0 0 30px 2px;
}

.comments span.empty-list {
  margin: 10px 0 0 0;
}

.comment {
  width: 490px;
  min-height: 42px;
  margin: 0 0 2px 0;
  position: relative;
  background: #f9f9f9;
  display: none;
  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.comment-body {
  padding: 5px;
}

.comment-body p {
  padding: 0 40px 0 40px;
  font-size: 11px;
  line-height: 15px;
  color: #666;
  margin: 0;
}

span.comment-avatar,
a.comment-avatar {
  position: relative;
  z-index: 1;
  float: left;
  display: inline-block;
  width: 34px;
  height: 34px;
  margin: 5px 8px 0 5px;
  background: none;
}

a.comment-avatar:hover {
  background: none;
}

span.comment-avatar img,
a.comment-avatar img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

a.comment-avatar-small {
  display: block;
  height: 19px;
  white-space: nowrap;
  color: #b3b3b3;
  font-size: 11px;
  padding-bottom: 10px;
}

a.comment-avatar-small img {
  -webkit-border-radius: 2px 0 5px 0;
  -moz-border-radius: 2px 0 5px 0;
  border-radius: 2px 0 5px 0;
}

a.comment-avatar-small:hover {
  text-decoration: none;
}

a.comment-avatar-small:hover span {
  text-decoration: underline;
}

a.comment-author {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #666;
  font-weight: bold;
  font-size: 11px;
  -webkit-text-shadow: 1px 1px 0 rgba(255,255,255,0.7);
  -moz-text-shadow: 1px 1px 0 rgba(255,255,255,0.7);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.7);
}

.comment-info {
  position: relative;
  bottom: 0;
  padding-left: 45px;
}

.comment-created {
  white-space: nowrap;
  font-size: 11px;
  font-style: normal;
  color: #b3b3b3;
}

.comment-created a {
  color: #b3b3b3;
}

.comment-created a:hover {
  color: #4d4d4d;
}

img.comment-image {
  position: relative;
  display: block;
  max-height: 400px;
  max-width: 400px;
  margin: 5px 0 0 0;
}

textarea.comment-input {
  width: 417px;
  font-size: 11px;
}

.showolder {
  padding: 5px 5px;
  display: block;
  min-height: 0;
  width: 480px;
  text-align: center;
  color: #808080;
  font-style: italic;
}

/*.........................................................................*/

.browser.library {
  height: 500px;
  overflow: hidden;
}

.browser-datasets {
  overflow-y: auto;
  height: 317px;
  border-top: 1px solid #d0d0d0;
}

.browser .dnd {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(39, 205, 214, 0.25);

  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: .2s;
  -moz-animation-duration: .2s;
  -o-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.browser.dragging .dnd {
  display: block;
}

.browser .dnd i {
  display: block;
  margin: 0 auto;
  line-height: 142px;
  font-size: 48px;
  width: 70px;
  color: #2f2f2f;
}

.browser.library .dnd i {
  line-height: 500px;
}

/*.........................................................................*/
/*.........................................................................*/

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

}

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
