/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { /*background-color: #ff9;*/ color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { /*overflow-y: scroll;*/ }
a:hover, a:active { outline: none; }
/*ul, ol { margin-left: 2em; }*/
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

/*.........................................................................*/
/*.........................................................................*/

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity:0; 
    -webkit-transform:translateY(20px)
  }
  100% {
    opacity:1;
    -webkit-transform:translateY(0)
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity:0;
    -moz-transform:translateY(20px)
  }
  100% {
    opacity:1;
    -moz-transform:translateY(0)
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity:0;
    -o-transform:translateY(20px)
  }
  100% {
    opacity:1;
    -o-transform:translateY(0)
  }
}
@keyframes fadeInUp {
  0% {
    opacity:0;
    transform:translateY(20px)
  }
  100% {
    opacity:1;
    transform:translateY(0)
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity:0; 
    -webkit-transform:translateY(-20px)
  }
  100% {
    opacity:1;
    -webkit-transform:translateY(0)
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity:0;
    -moz-transform:translateY(-20px)
  }
  100% {
    opacity:1;
    -moz-transform:translateY(0)
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity:0;
    -o-transform:translateY(-20px)
  }
  100% {
    opacity:1;
    -o-transform:translateY(0)
  }
}
@keyframes fadeInDown {
  0% {
    opacity:0;
    transform:translateY(-20px)
  }
  100% {
    opacity:1;
    transform:translateY(0)
  }
}

/*.........................................................................*/

html {}

body {
  background: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #4f4f4f;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

a.hover {
  color: #036;
}

a.active {
  background: #f2f2f2;
}

canvas {
  letter-spacing: 1px;
}

header {
  position: relative;
  width: 100%;
  padding: 5px 0;
  background: #f9f9f9;
  z-index: 2;
  border-bottom: 1px solid #d0d0d0;
}

footer {
  background: #2f2f2f;
  width: 100%;
  height: 23px;
}

table {
  width: 100%;
}

label {
  font-size: 11px;
  padding: 0 0 2px 0;
  color: #666;
}

label.export-label {
  padding: 0;
  color: black;
  font-weight: bold;
  font-size: 10px;
}

input[type=text],
input[type=password],
input[type=search] {
  background: white;
  font-size: 12px;
  margin: 0 0 10px 0;
  padding: 8px 12px;
  color: #404040;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 100ms;
  transition-timing-function: ease-out;
  transition-duration: 100ms;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=search]:focus {
  background: #F8F8F8 !important;

  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #98c1e6;
}

.placeholder {
  color: gray !important;
}

input:not([type=submit]):focus {
  background: rgba(255,255,255,0.1);
}

a.button,
div[role=button],
input[type=submit] {
  font-size: 12px;
  padding: 12px 20px;
  font-weight: bold;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  min-width: 54px;
  outline: 0;
  text-align: center;
  display: inline-block;

  background-color: #ccc;
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
  color: #444;
  border: 1px solid #ccc;

  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  cursor: pointer;

  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 100ms;
  transition-timing-function: ease-out;
  transition-duration: 100ms;
}

a.button:hover,
div[role=button]:hover,
input[type='submit']:hover {
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.35);
}

a.button:active,
div[role=button]:active,
input[type='submit']:active {
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.35);
}

a.button:focus,
div[role=button]:focus,
input[type=submit]:focus {
  border: 1px solid #98c1e6;
}

div[role=button].disabled {
  color: #AAA;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

div[role=button].disabled:hover {
  -moz-box-shadow: 0 0 0px rgba(0, 0, 0, 0.0);
  -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.0);
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.0);
}

div[role=button].disabled:active {
  border: 1px solid rgba(0, 0, 0, 0.05);
}

div[role=button] > div {
  background: url(/graphics/line-chart.png) no-repeat;
  width: 18px;
  height: 23px;
  display: inline-block;
  vertical-align: -7px;
}

div[role=button].little {
  font-size: 10px;
  padding: 0 6px;
  height: 17px;
  line-height: 17px;
  min-width: 28px;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0 5px 0 0;
  vertical-align: middle;
}

input:focus, textarea:focus {
  outline: none;
}

input::-moz-focus-inner, textarea::-moz-focus-inner {
  border: none;
}

input.input-alert {
  border: 1px solid rgba(255,0,0,0.4) !important;
}

input.button-alert[type=submit] {
  color: red !important;
}

/*.........................................................................*/

.list-spin {
  width: 100%;
}

.list-spin .empty-feed {
  display: none;
  line-height: 40px;
}

.list-spin > div {
  width: 50px;
  height: 40px;
  margin: 0 auto;
}

/*.........................................................................*/

.container {
  padding: 0;
}

.main {
  width: 100%;
  height: 100%;
}

.header {
  width: 800px;
  height: 50px;
  margin: 0 auto;
}

.header.wide {
  width: 100%;
}

.header .header-logo {
  width: 59px;
}

.header.wide .header-logo {
  margin-left: 20px;
}

.header .header-logo a {
  white-space: nowrap;
  font-size: 20px;
  color: #2f2f2f;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  text-transform: lowercase;
  line-height: 47px;
}

.header .header-logo img {
  margin-top: 20px;
  float: right;
}

.header .user-box {
  float: right;
  white-space: nowrap;
}

.header.wide .user-box {
  margin-right: 40px;
}

.header .header-title {
  display: none;
  margin-left: 135px;
  white-space: nowrap;
  line-height: 50px;
  color: #666;
}

.header.wide .header-title {
  display: block;
}

a.header-action {
  position: relative;
  display: inline-block;
  line-height: 50px;
  font-size: 14px;
  color: #4f4f4f;
  padding-left: 10px;
  text-transform: uppercase;
}

a.header-action:hover {
  color: #0f0f0f;
}

a.header-action:active {
  top: 1px;
}

.header .username {
  font-size: 11px;
  padding-right: 10px;
}

.header [class^="icon-"]:before, [class*=" icon-"]:before {
  margin: 0;
}

.header a.signin-button {
  float: right;
  line-height: 10px;
  margin-top: 8px;
}

.header.wide a.signin-button {
  margin-right: 20px;
}

/*.........................................................................*/

.signin {
  width: 400px;
  position: relative;
  overflow: hidden;
  background: #e6e6e6;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.signin-inner,
.save-inner {
  position: relative;
  padding: 50px;
  height: 456px;
}

.save-inner {
  height: 82px;
}

.signin-inner input[type="text"],
.signin-inner input[type="password"],
.save-inner input[type="text"],
.save-inner input[type="password"] {
  width: 274px;
}

.signin-inner td,
.save-inner td {
  vertical-align: middle;
}

.signin-error,
.save-error {
  color: red;
  font-size: 12px;
}

form.signin-form {
  margin: 0;
}

form.signin-form input:not([type=submit]) {
  width: 342px;
}

a.google-button {
  font-size: 14px;
  font-weight: bold;
  padding: 8px 0 6px 0;
  margin: 0 auto;
  display: block;

  -webkit-text-shadow: 0px 1px white;
  -moz-text-shadow: 0px 1px white;
  text-shadow: 0px 1px white;
}

.or-bar {
  position: relative;
  height: 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  border-top: 1px solid #ccc;
  margin: 30px 0;
}

.or-txt {
  position: absolute;
  top: -8px;
  left: 0;
  background: #e6e6e6;
  padding: 0 15px 0 0;
  font-style: italic;
  color: #4d4d4d;
  font-weight: bold;
}

h2.message, h2.error {
  width: 328px;
  margin: 0 0 15px;
  color: #404040;
  padding: 10px;
  font-size: 10px;
  font-weight: normal;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

h2.message {
  background-color:#eff5db; border:1px solid #b1cd49;
}

h2.error {
  background-color:#ffcccc; border:1px solid red;
}

/*.........................................................................*/

.page {
  width: 800px;
  margin: 50px auto;
}

.page-left {
  float: left;
  width: 200px;
}

.page-right {
  margin-left: 240px;
}

.profile-avatar {
  border: 2px solid white;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.profile-avatar img {

}

.section-heading {
  font-size: 14px;
  color: #808080;
  text-transform: uppercase;
  font-weight: lighter;
  line-height: 20px;
}

.section-heading.error {
  color: red;
}

.section-description {
  display: block;
  color: #4d4d4d;
}

.section-instructions {
  display: block;
  margin-top: 10px;
  color: #4d4d4d;
  font-size: 12px;
}

input.file-chooser {
  position: absolute;
  opacity: 0.0001;
  cursor: pointer;
  width: 201px;
  left: 261px;
  top: 25px;
}

.profile-datasets {
  margin: 0 0 20px 0;
}

.profile-views {
  margin: 30px 0 20px 0;
}

.profile-dataset,
.profile-view {
  width: 518px;
  padding: 20px;
  margin-bottom: 2px;
  position: relative;
  display: none;
  border-bottom: 1px solid #e6e6e6;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: .2s;
  -moz-animation-duration: .2s;
  -o-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.profile-dataset:last-child,
.profile-view:last-child {
  border: none;
}

.profile-dataset-inner,
.profile-view-inner {
  margin-left: -20px;
  background-image: url(../img/data.png);
  background-repeat: no-repeat;
  background-position: 0px 2px;
}

.profile-view-inner {
  background-image: url(../img/view.png);
}

a.profile-dataset-title,
a.profile-view-title {
  margin: 0 0 10px 30px;
  font-size: 20px;
  line-height: 24px;
  color: #666;
}

a.profile-dataset-title:hover,
a.profile-view-title:hover {
  color: #4d4d4d;
  text-decoration: underline;
}

.profile-dataset-time,
.profile-view-time {
  color: #b3b3b3;
}

.profile-dataset-stats,
.profile-view-stats {
  position: absolute;
  right: 0;
  top: 30px;
  color: #666;
  font-weight: bold;
  font-size: 12px;
}

.profile-dataset-created,
.profile-view-created {
  white-space: nowrap;
  font-size: 11px;
  font-style: normal;
  color: #b3b3b3;
}

.profile-dnd {
  margin-top: 15px;
  border: 1px dashed #b3b3b3;
  position: relative;
  background: #f9f9f9;
}

.profile-dnd.dragging {
  background: rgba(0,255,0,0.1);
}

.profile-dnd-instructions {
  display: block;
  text-align: center;
  width: 100%;
  line-height: 30px;
  font-size: 13px;
  color: #666;
}

.profile-dataset-spin,
.profile-view-spin {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  background: rgba(255,255,255,0.8);

  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;

  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}

/*.........................................................................*/

.explore {
  background: white; 
  margin: 0;
  width: 100%;
  position: relative;
  overflow: hidden;

  -webkit-transition: height 0.25s;
  -moz-transition: height 0.25s;
  -ms-transition: height 0.25s;
  -o-transition: height 0.25s;
  transition: height 0.25s;
}

.upper-panel {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 33px;
  background: #f9f9f9;
  border-bottom: 1px solid #d0d0d0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.controls {
  float: right;
}

a.control-button {
  float: right;
  position: relative;
  display: inline-block;
  border-left: 1px solid #ddd;
  width: 44px;
  height: 26px;
  padding: 7px 0 0 0;
  text-align: center;
  font-size: 11px;
  color: #3f3f3f;
  font-weight: 700;
}

.side-panel {
  position: absolute;
  z-index: 11;
  top: 34px;
  bottom: 270px;
  right: -250px;
  width: 250px;
  overflow-y: auto;
  background: rgba(249,249,249,0.8);
  border-left: 1px solid #d0d0d0;
}

.side-panel.animated {
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  -ms-transition: right 0.3s;
  -o-transition: right 0.3s;
  transition: right 0.3s;
}

.side-panel.open {
  right: 0;
}

.lower-panel {
  position: absolute;
  z-index: 12;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 270px;
  background: #f1f1f1;
  border-top: 1px solid #d0d0d0;
}

.graphs {
  position: absolute;
  top: 34px;
  bottom: 270px;
  width: 100%;
}

.graph {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100% !important;
}

.graph:focus {
  outline: none;
}

.graph::-moz-focus-inner {
  border: none;
}

.mouse-time {
  position: absolute;
  left: 50%;
  top: 33px;
  background: rgba(0,0,0,0.4);
  padding: 0 5px;
  text-align: center;
  min-width: 160px;
}

.mouse-time > span {
  color: white;
  font-size: 9px;
  font-weight: bold;
  white-space: nowrap;
}

/*.........................................................................*/

.dataset {
  float: left;
  padding-right: 10px;
}

.dataset-avatar {
  float: left;
  height: 23px;
  width: 23px;
  background: #f9f9f9;
  padding: 5px;
}

.dataset-avatar img {
  border-radius: 2px;
}

.dataset-title {
  margin-left: 10px;
  font-size: 12px;
  color: #fff;
  line-height: 22px;
}

.dataset-stats {
  display: block;
  margin-left: 43px;
  line-height: 4px;
  font-size: 9px;
  text-transform: lowercase;
  color: #fff;
}

/*.........................................................................*/
/*.........................................................................*/

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

}

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
