<div class="leftside">    
  <p>
    The creators of Skyline hold these truths to be self-evident:
  </p>
  <ol class="ordered">
    <li>
      Data is more useful when it is visual and interactive from the moment it is collected
    </li>
    <li>
      Data is more powerful when a person can instantly compare any data from any source
    </li>
  </ol>
  <p>
    Skyline was created to make these truths a reality.
  </p>
  <p>
    We are living in an age overrun by data. As a society, we are collecting more time-series data than ever before. And more of that data is stored on the cloud where it can be visualized, analyzed, and compared to data from anywhere else in the world. However, our tools for managing and collaborating on this data has not evolved at the same pace as our ability to collect the data. Skyline aims to solve that problem.
  </p>
  <p>
    Skyline was developed by a group of engineers solving a specific problem. They needed a system through which would let them monitor and compare thousands of channels of high-resolution sensor data across time. The channels were coming in from many sources and at vastly different resolutions. To solve their problem, the team developed a novel platform for organizing and storing time-series data on the cloud, and creating interactive visualizations of multiple datasets through a single interface. The advantages realized in the original interface inspired a second generation platform. This time, the system was architected to accept not just sensor data, but any type of time-series data. And it gave users the power to layer any two datasets on top of one another, regardless of source or resolution. In this way, Skyline was born.
  </p>
  <p>
    Skyline is an open data platform for visualizing, analyzing, and collaborating on time-series data. Wtih Skyline, users can upload time-series data of any size, format, or resolution. Skyline empowers users to visualize data from any combination of sources instantaneously on the same interactive chart. With Skyline, any data researcher can locate, visualize, and compare datasets from different sources and different users.
  </p>
  <h4>Open Data</h4>
  <p>
    The true power of Skyline is its community of users. Skyline is a crowd-sourced open data platform. For every dataset loaded into Skyline, users select the privacy setting. Datasets can be kept private to the user, shared between individual users, or made open to the public. Private datasets are stored securely with access limited only to the user who uploaded the dataset and to other users shared on the dataset. Datasets marked as public will be added to Skyline's growing library of datasets and made available in the search results for all users. By making data open for everyone to see, we open ourselves to the intelligence of the crowd with the potential to realize insights that were never before possible.
  </p>
  <p>
    The goal of Skyline is simple: Unlock the power of time-series data to help us better understand our world.
  </p>
</div>
<div class="rightside">

</div>
<div class="clearfix"></div>
