<div class="center">
  <p>
    We are living in an age overrun by data. Every second, billions of datapoints are being collected by humans, computers, and sensors around the world. While our ability to collect and analyze data has advanced beyond imagination, our tools for processing and collaborating on this data has not kept pace. At Skyline, we believe in two things:
  </p>
  <p>
    <ol class="ordered">
      <li class="emphasis">
        Data is easier to use when it’s visual and interactive.
      </li>
      <li class="emphasis">
        Data can make us smarter if we can make it accessible and comparable by anyone.
      </li>
    </ol>
  </p>
  <p>
    We built Skyline to turn these beliefs into reality.
  </p>
  <p>
    Skyline was developed by a team struggling with a data problem: How to process thousands of streaming channels of high-resolution sensor data in order to efficiently gain the insights they needed? To solve this problem, the team developed their a new online platform, one that allowed them to organize and store this mountain of data on the cloud, and then process the data visually on the internet, rather than in spreadsheets. This simple platform radically changed the speed at which the team identified the most important data and generated the insights they cared about.
  </p>
  <p>
    The advantages realized in the original interface inspired a second generation platform, one that could accept and compare time-series data of any type and any resolution. Through this platform, users could visualize public data on economics, politics, the stock market, or internet trends. Or they could view upload and visualize private data that they generated themselves. They could instantaneously layer together any combination of time-series datasets and then share those insights with their friends or the world at large. In this way, Skyline was born.
  </p>
  <h4>The Skyline Community</h4>
  <p>
    Skyline is an open data platform for visualizing, analyzing, and collaborating on time-series data. The true power of Skyline is its community of users. Skyline is a crowd-sourced platform. For every dataset loaded into Skyline, users select the privacy setting. Datasets can be kept private to the user, shared between individual users, or made open to the public. Datasets marked as public will be added to Skyline's growing library of datasets, searchable and comparable by anyone within the Skyline Community. By making data open for everyone to see, we open ourselves to the intelligence of the crowd with the potential to realize insights that were never before possible.
  </p>
  <p>
    The goal of Skyline is simple: Unlock the power of data to help us better understand our world.
  </p>
</div>
<div class="footer">
  <ul>
    <li>
      <a href="/contact" class="navigate">Contact</a>
    </li>
    <li>
      <a href="/privacy" class="navigate">Privacy Policy</a>
    </li>
    <li>
      <a href="/terms" class="navigate">Terms of Use</a>
    </li>
  </ul>
</div>
