<div class="browser-spin"></div>
<span class="modal-title">
  Add data
</span>
<div class="browser-inner modal-inner">
  <div>
    <span class="modal-heading">
      a) Create a new data source from a file on your computer
    </span>
    <form class="browser-add-form" enctype="multipart/form-data" method="POST">
      <table>
        <tbody>
          <tr>
            <td>
              <input name="dummy_data_file" type="text" placeholder="Select file..." />
              <input name="data_file" type="file" class="file-input" />
            </td>
            <td>
              <input type="submit" disabled="disabled" value="Create new" />
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <span class="modal-error"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
    <span class="modal-heading">
      b) Or, choose from an existing data source
    </span>
  </div>
</div>
<div class="browser-datasets">
  <div class="profile-datasets"></div>
  <div class="list-spin">
    <div class="profile-datasets-spin"></div>
    <span class="empty-feed">Showing all.</span>
  </div>
</div>
