<%
  var user = this.app.profile ? this.app.profile.user: null;
%>

<div class="upper-panel">
  <div class="datasets"></div>
  <div class="controls">
    <a class="control-button control-button-comments" href="javascript:;"><i class="icon-comment"></i></a>
    <% if (user) { %>
      <a class="control-button control-button-share" href="javascript:;"><i class="icon-export"></i></a>
      <a class="control-button control-button-export" href="javascript:;"><i class="icon-download"></i></a>
      <a class="control-button control-button-save" href="javascript:;"><i class="icon-floppy"></i></a>
    <% } %>
    <a class="control-button control-button-monthly" href="javascript:;">Mo</a>
    <a class="control-button control-button-weekly" href="javascript:;">Wk</a>
    <a class="control-button control-button-daily" href="javascript:;">Dy</a>
  </div>
</div>
<div class="side-panel open">
  <div class="side-panel-content"></div>
  <div class="list-spin">
    <div id="comments_spin"></div>
    <span class="empty-feed">Showing all.</span>
  </div>
</div>
<div class="mouse-time"><span></span></div>
<div class="graphs"></div>
<div class="lower-panel"></div>
