<%
  var user = this.app.profile ? this.app.profile.user: null;
%>
<div class="upper-panel">
  <div class="datasets"></div>
  <div class="controls">
    <% if (user && !this.app.embed) { %>
      <a class="control-button control-button-share tooltip" title="Share" href="javascript:;">
        <i class="icon-share"></i>
      </a>
    <% } %>
    <a class="control-button control-button-comments tooltip" title="Chart Information" href="javascript:;">
      <i class="icon-info-circled"></i>
    </a>
    <% if (user && !this.app.embed) { %>
      <a class="control-button control-button-download tooltip" title="Export Chart" href="javascript:;">
        <i class="icon-download"></i>
      </a>
      <a class="control-button control-button-save tooltip" title="Save View" href="javascript:;">
        <div class="button-spin save-button-spin"></div>
        <i class="icon-floppy"></i>
      </a>
    <% } %>
    <a class="control-button control-button-monthly tooltip" title="View Month" href="javascript:;">Mo</a>
    <a class="control-button control-button-weekly tooltip" title="View Week" href="javascript:;">Wk</a>
    <a class="control-button control-button-daily tooltip" title="View Day" href="javascript:;">Dy</a>
  </div>
</div>
<div class="side-panel">
  <div class="map-panel">
    <a href="javascript:;" class="button map-button tooltip" title="Map">
      <i class="icon-map"><i class="icon-angle-left"></i>
          <i class="icon-angle-left"></i></i>
    </a>
    <div class="map-spin"></div>
    <div id="map_inner" class="map-inner"></div>
  </div>
  <div class="side-panel-inner">
    <div class="comments"></div>
  </div>
</div>
<div class="graphs">
  <div class="cursor">
    <div class="cursor-time">Jan 12th, 2014 3:10:32PM</div>
    <% if (user && !this.app.embed) { %>
      <a href="javascript:;" class="note-button tooltip-bottom" title="Click and drag to create a new note">
        <i class="icon-pencil"></i> Note
      </a>
      <a href="javascript:;" class="note-cancel-button">
        <i class="icon-cancel"></i> Cancel
      </a>
      <a href="javascript:;" class="note-duration-button">
        <i class="icon-clock"></i> <span></span>
      </a>
    <% } %>
  </div>
  <div class="notes"></div>
</div>
<div class="lower-panel">
  <div class="lower-panel-border"></div>
  <div class="overview">
    <div class="overview-date">
       <span></span>
    </div>
    <div class="overview-cursor-wrap" id="cursor-wrap-beg">
      <div class="overview-cursor"></div>
      <div class="overview-cursor-date"></div>
    </div>
    <div class="overview-cursor-diff"></div>
    <div class="overview-cursor-wrap" id="cursor-wrap-end">
      <div class="overview-cursor"></div>
      <div class="overview-cursor-date"></div>
    </div>
    <div class="overview-selection"></div>
    <div class="overview-date overview-date-right">
       <span></span>
    </div>
  </div>
</div>
