<%

  var gravatar = 'https://www.gravatar.com/avatar/'
      + target.doc.author.gravatar + '?s=24&d=identicon';

  var icon;
  if (target.doc.public === false) {
    icon = 'icon-lock';
  } else if (target.type === 'dataset') {
    icon = 'icon-database';
  } else if (target.type === 'view') {
    icon = 'icon-folder-empty';
  }
  var link;
  if (target.type === 'dataset') {
    link = [target.doc.author.username, target.doc.id].join('/');
  } else {
    link = [target.doc.author.username, 'views', target.doc.slug].join('/');
  }
%>
<a href="/<%= link %>" class="button title-button title-button-left emphasis-button navigate">
    <i class="icon-angle-left"></i> Go to <%= target.type %> summary</a>
<div class="page-title">
  Viewing <a href="/<%= link %>" class="navigate<%= target.doc.public === false ? ' locked': '' %>">
    <i class="<%= icon %>"></i> <%= target.doc.title || target.doc.name || 'Untitled' %></a> from <a href="/<%= target.doc.author.username %>" class="navigate">
    <%= target.doc.author.displayName %></a>
  <span class="page-title-sub">
    (Last updated <span class="updated"><%= util.getRelativeTime(new Date(target.doc.updated).valueOf()) %></span>)
  </span>
</div>
