<%

  var gravatar = 'https://www.gravatar.com/avatar/'
      + target.doc.author.gravatar + '?s=24&d=identicon';

  var icon;
  if (target.doc.public === false) {
    icon = 'icon-lock';
  } else {
    icon = 'icon-folder-empty';
  }
%>

<div class="page-title">
  <a href="/<%= target.doc.author.username %>/views/<%= target.doc.slug %>"
      class="navigate<%= target.doc.public === false ? ' locked': '' %>">
    <i class="<%= icon %>"></i> <%= target.doc.name || 'Untitled' %></a> from <a href="/<%= target.doc.author.username %>" class="navigate">
    <%= target.doc.author.displayName %></a>
  <span class="page-title-sub">
    (Last updated <span class="updated"><%= util.getRelativeTime(new Date(target.doc.updated).valueOf()) %></span>)
  </span>
</div>
