<div class="upper-panel">
  <div id="datasets"></div>
  <div class="controls">
    <a class="control-button" href="javascript:;"><i class="icon-comment"></i></a>
    <a class="control-button" href="javascript:;"><i class="icon-export"></i></a>
    <a class="control-button" href="javascript:;"><i class="icon-download"></i></a>
    <a class="control-button" href="javascript:;"><i class="icon-floppy"></i></a>
    <a class="control-button" href="javascript:;">Mo</a>
    <a class="control-button" href="javascript:;">Wk</a>
    <a class="control-button" href="javascript:;">Dy</a>
  </div>
</div>
<div class="side-panel open">
  <div class="side-panel-content"></div>
  <div class="list-spin">
    <div id="comments_spin"></div>
    <span class="empty-feed">Showing all.</span>
  </div>
</div>
<div class="mouse-time"><span></span></div>
<div id="graphs"></div>
<div class="lower-panel"></div>
