<div class="export-modal">
  <h1 class="export-modal-title">Export data as CSV</h1>
  <div class="export-modal-abovefold">
    <div class = "export-modal-stats">
      <%
        print('<p>Channels:&nbsp' + channels.length + '</p>')
        print('<p>Data points:&nbsp' + '</p>') //TODO
        print('<p>File size:&nbsp' + '</p>')  //TODO
      %>
    </div>
  </div>
  <div class="export-modal-belowfold" style="display: none">
    <p>Channels to download:</p>
    <ol class="export-channel-list">
    <%
      _.each(channels, function(row, index) {
        print('<li> <input type = "checkbox" checked=true>' + index + '.&nbsp;&nbsp;'+ row.humanName + '</li>')
      });
    %>
    </ol>
    <p></p>
    <p>
      <input class="export-resample-radio" type="radio" name="sampleType" value="resample">
      <label for="export-resample-radio" class="export-label">Resample to:</label>
      <input class="export-resample-input" type="text" value="1.0" >
      <label for="export-resample-radio" class="export-label">seconds per sample</label>
    </p>
    <p>
      <input class="export-noresample-radio" type="radio" name="sampleType" value="noResample" checked="checked">
      <label for="export-noresample-radio" class="export-label">Don't resample</label>
    </p>
    <p class="export-error" style="visibility: hidden; color: red">Would export
      <span class="export-error-row-count"></span> rows, maximum is
      <span class="export-error-row-max"></span>.
    </p>
  </div>
  <div class="export-modal-download" role="button" title="Download data as CSV.">Download</div>
  <div role="button" class="export-modal-fold"> = </div>
</div>
