<div class="modal-close">
  <i class="icon-cancel"></i>
</div>
<span class="modal-title">
  Download as CSV
</span>
<span class="modal-heading">
  Choose channels to export from the visible data in your chart.
</span>
<form class="export-form" enctype="multipart/form-data" method="POST">
  <div class="export-info">
    <table>
      <tbody>
        <tr class="list-header">
          <td colspan="2" class="main-cell">Confirm channels:</td>
          <td>Data points</td>
          <td>File size</td>
        </tr>
        <% _.each(this.datasets, _.bind(function (d) { %>
          <tr>
            <td class="main-cell number-cell">
              <%= d.num %>
            </td>
            <td class="table-cell">
              <table>
                <tr class="list-header">
                  <td colspan="4"><%= d.title %></td>
                </tr>
                <% _.each(this.channels, function (c) {
                  if (c.did !== d.id) return; %>
                  <tr>
                    <td class="table-cell">
                      <label class="checkbox-styled table-checkbox">
                        <input type="checkbox" name="<%= c.channelName %>" value="<%= c.channelName %>" checked />
                        <span><i class="icon-check"></i> <%= c.humanName %></span>
                      </label>
                    </td>
                  </tr>
                <% }); %>
              </table>
            </td>
            <td class="number-cell">?</td>
            <td class="number-cell">?</td>
          </tr>
        <% }, this)); %>
      </tbody>
    </table>
  </div>
  <div class="export-inner modal-inner">
    <div>
      <span class="modal-heading">
        Refine your data sample resolution.
      </span>
      <table>
        <tbody>
          <tr>
            <td>
              <label class="checkbox-styled">
                <input type="checkbox" name="resample" value="resample" />
                <span><i class="icon-check"></i> Resample to</span>
              </label>
            </td>
            <td><input class="export-resample-input" type="text" value="1.0" ></td>
            <td class="number-cell">sec. / sample, or</td>
            <td>
              <label class="checkbox-styled">
                <input type="checkbox" name="noresample" value="noresample" checked />
                <span><i class="icon-check"></i> Don't resample</span>
              </label>
            </td>
            <td>
              <input type="submit" disabled="disabled" value="Download" />
              <div class="button-spin"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>

<!-- 
<input class="export-resample-radio" type="radio" name="sampleType" value="resample">
<label for="export-resample-radio" class="export-label">Resample to:</label>
<input class="export-resample-input" type="text" value="1.0" >
<label for="export-resample-radio" class="export-label">seconds per sample</label>
<input class="export-noresample-radio" type="radio" name="sampleType" value="noResample" checked="checked">
<label for="export-noresample-radio" class="export-label">Don't resample</label>
<p class="export-error" style="visibility: hidden; color: red">Would export
  <span class="export-error-row-count"></span> rows, maximum is
  <span class="export-error-row-max"></span>.
</p> 
-->
