<div class="export-modal">
  <h1 class="export-modal-title">Export data as CSV</h1>
  <div class="export-modal-abovefold">
    <ul class = "export-modal-stats">
      <%
        print('<li>Channels:&nbsp' + channels.length + '</li>')
        print('<li>Data points:&nbsp' + '</li>') //TODO
        print('<li>File size:&nbsp' + '</li>')  //TODO
      %>
    </ul>
    <div class="export-modal-download" role="button" title="Download data as CSV.">Download</div>
  </div>
  <div class="export-modal-data">
    <p>Channels to download:</p>
    <ol class="export-channel-list">
    <%
      _.each(channels, function(row, index) {
        print('<li> <input type = "checkbox" checked=true>' + index + '.&nbsp;&nbsp;'+ row.humanName + '</li>')
      });
    %>
    </ol>
    <p></p>
    <p>
      <input id="resampleRadio" type="radio" name="sampleType" value="resample">
      <label for="resampleRadio" class="export-label">Resample to:</label>
      <input id="resample" type="text" value="1.0" class="export-input-text">
      <label for="resampleRadio" class="export-label">seconds per sample</label>
    </p>
    <p>
      <input id="noResampleRadio" type="radio" name="sampleType" value="noResample" checked="checked">
      <label for="noResampleRadio" class="export-label">Don't resample</label>
    </p>
    <p id="exportError" style="visibility: hidden; color: red">Would export
      <span id="rowCount"></span> rows, maximum is
      <span id="rowMax"></span>.
    </p>
  </div>
  <div role="button" class="export-modal-fold"> = </div>
</div>
