<%
  var search = this.options.search && this.app.profile && this.app.profile.user;
%>

<div class="dnd"><i class="icon-inbox-1"></i></div>
<div class="modal-close">
  <i class="icon-cancel"></i>
</div>
<span class="modal-title">
  <% if (search) { %>
    Upload new or find existing data
  <% } else { %>
    Upload new data
  <% } %>
</span>
<div class="modal-inner">
  <div>
    <span class="modal-heading">
      Add data from a file on your computer.
    </span>
    <input name="dummy_data_file" type="text" class="dummy-file-input" placeholder="Select file..." readonly />
    <input name="data_file" type="file" class="file-input" />
    <div class="finder-progress-bar"></div>
    <span class="modal-error"></span>
    <span class="modal-heading">
      File Requirements:
    </span>
    <ul class="settings-detail-txt settings-detail-list">
      <li> Data must be tabular in nature: seperated by commas or tabs. </li>
      <li> Data must have a header row to identify channel names. </li>
      <li> There must be at least one column that references the date.  A time column may optionally be added. </li>
      <li> We support Microsoft's Excel (.xls and .xlsx) formats.  Data must be on the first sheet. </li>
    </ul>
    <span> &nbsp; </span>
  </div>
</div>          
<% if (search) { %>
  <div class="finder-search">
    <!-- <div class="search-filters">
      <label class="checkbox-styled input-checkbox input-checkbox-split-left">
        <input class="search-filter-justme" type="checkbox" name="me" value="me" checked />
        <span><i class="icon-user"></i> Just me</span>
      </label>
      <label class="checkbox-styled input-checkbox input-checkbox-split-right" style="left:87px;">
        <input class="search-filter-allusers" type="checkbox" name="all" value="all" />
        <span><i class="icon-users"></i> All users</span>
      </label>
    </div> -->
    <div class="finder-search-inner">
      <input class="finder-search-input" type="search" placeholder="Search..." />
      <div class="search-spin"></div>
      <div class="search-display">
        <div class="list-header"></div>
      </div>
    </div>
  </div>
<% } %>
