<div class="modal-close">
  <i class="icon-cancel"></i>
</div>
<span class="modal-title">
  Forgot password
</span>
<div class="forgot-inner modal-inner">
  <div>
    <span class="modal-heading">
      Enter your email address
    </span>
    <form class="forgot-form" enctype="multipart/form-data" method="POST">
      <table>
        <tbody>
          <tr>
            <td>
              <input name="email" type="text" />
            </td>
            <td style="width:120px;">
              <input type="submit" disabled="disabled" value="Find account" />
              <div class="button-spin"></div>
            </td>
          </tr>
          <tr>
            <td>
              <span class="modal-error"></span>
            </td>
            <td>
              <span class="modal-link">
                <a href="mailto:support@skyli.ne">I need more help</a>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
