<div class="page">
  <div class="page-right">
    <% if (this.app.profile.user) { %>
      <span class="page-heading">
        Your datasets
      </span>
      <div class="home-datasets"></div>
      <span class="page-heading">
        Your views
      </span>
      <div class="home-views"></div>
    <% } %>
  </div>
  <div class="page-left">
    <span class="page-heading">
      News
    </span>
    <div class="events"></div>
    <div class="list-spin">
      <div class="events-spin"></div>
      <span class="empty-feed">Showing all.</span>
    </div>
  </div>
  <div class="clear"></div>
</div>
