<div class="columned">
  <%
  var n = Math.ceil(datasets.length / 2);
  var j = 0;
  _.each(datasets, function (d, i) {
    var num_channels = d.channels_cnt;
    if (num_channels === 1) {
      num_channels += ' channel';
    } else {
      num_channels += ' channels';
    }

    var source = '';
    if (d.source) {
      source += d.source;
    }
    var link = d.sourceLink;
    if (link) {
      if (source !== '') {
        source = '<a href="' + link + '" target="_blank"><i class="icon-link"></i>' + source + '</a>';
      } else {
        source = '<a href="' + link + '" target="_blank"><i class="icon-link"></i>' + link + '</a>';
      }
    }
  %>
    <% if (j === 0) { %><ul class="library-datasets"><% } %>
      <li>
        <a href="/<%= d.author.username %>/<%= d.id || d._id %>" class="navigate">
            <i class="<%= d.streaming ? 'icon-signal': 'icon-globe' %>"></i><%= d.title %></a><span>
            <%= num_channels %><%= source !== '' ? ' from ' + source: '' %></span>
      </li>
    <% ++j; if (j > n - 1 || i === datasets.length - 1) { j = 0; %></ul><%} %>
  <% }); %>
  <div class="clearfix"></div>
</div>
<% if (typeof static === 'undefined') { %>
  <div class="footer">
    <ul>
      <li>
        <a href="/contact" class="navigate">Contact</a>
      </li>
      <li>
        <a href="/privacy" class="navigate">Privacy Policy</a>
      </li>
      <li>
        <a href="/terms" class="navigate">Terms of Use</a>
      </li>
    </ul>
  </div>
<% } %>
