<div class="linestyle-linetype">
  <p>Math Functions</p>
  <div class="linestyle-wrap linestyle-math">
    <i class="linestyle-box linestyle-none">No</i>
    <i class="linestyle-box linestyle-avg">Av</i>
  </div>
  <p>Line Style</p>
  <div class="linestyle-wrap linestyle-points">
    <i class="linestyle-box linestyle-scatter"></i>
    <i class="linestyle-box linestyle-line"></i>
    <i class="linestyle-box linestyle-line-with-points"></i>
    <i class="linestyle-box linestyle-area"></i>
  </div>
  <p>Interpolation</p>
  <div class="linestyle-wrap linestyle-interp">
    <i class="linestyle-box linestyle-interp-linear"></i>
    <i class="linestyle-box linestyle-interp-none"></i>
  </div>
  <p>Line Width</p>
  <div class="linestyle-wrap linestyle-width">
    <i class="linestyle-box linestyle-width-1"></i>
    <i class="linestyle-box linestyle-width-2"></i>
    <i class="linestyle-box linestyle-width-3"></i>
    <i class="linestyle-box linestyle-width-4"></i>
  </div>
  <p>Line Color</p>
  <div class="linestyle-color"></div>
</div>
