<div class="linestyle-modal">
  <div class = "linestyle-linetype">
    <div class = "linestyle-points">
      <a id = "linestyle-scatter" class ="linestyle-box"> Sc </a>
      <a id = "linestyle-line" class ="linestyle-box"> Li </a>
      <a id = "linestyle-line-with-points" class ="linestyle-box"> Lp </a>
    </div>
    <div class = "linestyle-interp">
      <a id = "linestyle-interp-linear" class ="linestyle-box" > Ln </a>
      <a id = "linestyle-interp-none" class ="linestyle-box"> No </a>
    </div>
  </div>
</div>
