<a href="javascript" class="linestyle-close">
  <i class="icon-cancel"></i>
</a>
<div class="linestyle-linetype">
  <p>Line Style</p>
  <div class="linestyle-wrap linestyle-points">
    <i class="linestyle-box linestyle-scatter tooltip" title="Scatter Plot"></i>
    <i class="linestyle-box linestyle-line tooltip" title="Line Plot"></i>
    <i class="linestyle-box linestyle-line-with-points tooltip" title="Line Plot with Points"></i>
    <i class="linestyle-box linestyle-area tooltip" title="Area Plot"></i>
  </div>
  <p>Interpolation</p>
  <div class="linestyle-wrap linestyle-interp">
    <i class="linestyle-box linestyle-interp-linear tooltip" title="Linear Interpolation"></i>
    <i class="linestyle-box linestyle-interp-none tooltip" title="Step-wise Interpolation"></i>
  </div>
  <p>Line Width</p>
  <div class="linestyle-wrap linestyle-width">
    <i class="linestyle-box linestyle-width-1 tooltip" title="1px Lines"></i>
    <i class="linestyle-box linestyle-width-2 tooltip" title="2px Lines"></i>
    <i class="linestyle-box linestyle-width-3 tooltip" title="3px Lines"></i>
    <i class="linestyle-box linestyle-width-4 tooltip" title="4px Lines"></i>
  </div>
  <p>Line Color</p>
  <div class="linestyle-color"></div>
</div>
