<div class="leftside">    
  <h4>Scope</h4>
  <p>
    This Privacy Policy describes how Skyline Data Systems, Inc (the "Company", "we", "us" or "our") handles our subscribers' ("you", "your", or "yourself") personal information for our services on skyline-data.com (the "Site"). By accepting the Privacy Policy and the Terms of Service (the "Terms") in registration, you expressly consent to our collection, storage, use and disclosure of your personal information as described in this Privacy Policy. This Privacy Policy is effective upon acceptance for new users and is otherwise effective from April 1, 2014. We may amend this Privacy Policy at any time by posting the amended terms on the Web Site. All amended terms automatically take effect immediately upon the posting thereof.
  </p>
  <h4>Collection</h4>
  <p>
    You can browse the Site without telling us who you are or revealing any personal information about yourself. Once you give us your personal information, you are not anonymous to us. If you choose to provide us with personal information, you consent to the transfer and storage of that information to our servers located in the United States or elsewhere. We may collect and store the following personal information:
  </p>
  <ul>
    <li>
      Email address
    </li>
    <li>
      Physical contact information
    </li>
    <li>
      Some financial information, such as credit card or bank account numbers, depending on services used
    </li>
    <li>
      Transactional information based on your activities on the Web Site
    </li>
    <li>
      Community discussions, chats, dispute resolution, correspondence through the Web Site, and correspondence sent to us
    </li>
    <li>
      Computer sign-on data, statistics on page views, traffic to and from the Web Site, and ad data
    </li>
    <li>
      Other information, including, but not limited to, IP address and standard web log information, and supplemental information from third parties
    </li>
  </ul>
  <p>For example, if you incur a debt to the Company, we will generally conduct a credit check by obtaining additional information about you from a credit bureau, as permitted by law.  If the information you provide cannot be verified, we may ask you to send us additional information such as your driver license, credit card statement, and/or a recent utility bill or other information confirming your address, or to answer additional questions online to help verify your information.</p>
  <h4>Marketing</h4>
  <p>
    We don't sell or rent your personal information to third parties for their marketing purposes without your explicit consent.
  </p>
  <h4>Email Policy</h4>
  <p>
    Skyline does not allow any third-party company to use your email address for commercial or marketing purposes without your expressed permission. Skyline will send you newsletter communications such as Chart of the day or weekly newsletter, account alerts, and any other emails you have requested to receive. If you would like to opt-out of any specific mailings, click on the unsubscribe link at the bottom of any email.
  </p>
  <h4>Use</h4>
  <p>
    Our primary purpose in collecting personal information is to provide you with a safe, smooth, efficient, and customized experience. By accepting the Terms, you agree that we may use your personal information to:
  </p>
  <ul>
    <li>
      Provide the services and customer support you request
    </li>
    <li>
      Resolve disputes, collect fees, and troubleshoot problems
    </li>
    <li>
      Prevent potentially prohibited or illegal activities, and enforce the Terms
    </li>
    <li>
      Customize, measure, and improve our services and the Sites' content and layout
    </li>
    <li>
      Tell you about targeted marketing, service updates, and promotional offers based on your communication preferences
    </li>
    <li>
      Compare information for accuracy, and verify it with third parties
    </li>
  </ul>
  <h4>Our Disclosure of Your Information</h4>
  <p>
    We may disclose personal information to respond to legal requirements, enforce our policies, respond to claims that a listing or other content violates the rights of others, or protect anyone's rights, property, or safety. We may also share your personal information with:
  </p>
  <ul>
    <li>
      Members of our corporate family to help detect and prevent potentially illegal acts and provide joint services
    </li>
    <li>
      Service providers under contract who help with our business operations such as fraud investigations, bill collection, affiliate and rewards programs
    </li>
    <li>
      Third parties to whom you explicitly ask us to send your information or about whom you are otherwise explicitly notified and consent to when using a specific service
    </li>
    <li>
      Law enforcement or other government officials, in response to a verified request relating to a criminal investigation or alleged illegal activity. In such events, we will disclose name, city, state, telephone number, email address, User ID history, fraud complaints, and listing history
    </li>
    <li>
      Other business entities, should we plan to merge with or be acquired by that business entity. Should such a combination occur, we will require that the new combined entity follow this privacy policy with respect to your personal information. If your personal information will be used in any way  contrary to this policy, you will receive prior notice
    </li>
    <li>
      Third parties in response to a subpoena or other valid legal process in the United States ordering the disclosure of such information
    </li>
  </ul>
  <p>
    Without limiting the above, in an effort to respect your privacy and our ability to keep the community free from bad actors, we will not otherwise disclose your personal information to law enforcement, other government officials, or other third parties without a subpoena, court order or substantially similar legal procedure, except when we believe in good faith that the disclosure of information is necessary to prevent imminent physical harm or financial loss or to report suspected illegal activity.
  </p>
  <h4>Activity Associated with User IDs</h4>
  <p>
    If you publish a visualization and make it public, then your User ID is displayed throughout the Site and therefore may be available to the public. All of your public activities on the Web Site will be traceable to your User ID. Other people can see your feedback, ratings and associated comments, and so on. Notices are sent to other community members regarding suspicious activity and policy violations on the Site and refer to User IDs and specific items. Therefore, if you associate your name with your User ID, the people to whom you have revealed your name to will be able to personally identify your activities on the Site. If you do not make any of your visualizations public but keep them private, then your user ID or name is not displayed on our web site.
  </p>
  <h4>Privacy of your Data</h4>
  <p>
    The Site enables you to share data and content and to select the privacy settings for any data that you choose to publish and visualize. If you upload data and choose to keep it private, it will be visible only to you. If you choose to share your data with other Skyline subscribers, then your data will be accessible and visible only to yourself and to those users with whom you have shared the content. If you choose to publish your data and visualizations as "Public", then your data will accessible for display throughout the site by both subscribed users and by the general public. Skyline will not permit any user to publish charts using your private data either within the Site or to any external site. However, if you choose to publish charts using your private data to social media or a non-Skyline website, Skyline will not be responsible for the privacy of your data on those sites.
  </p>
  <h4>Using Information from the Site</h4>
  <p>
    The Site enables you to share personal and financial information in order to complete transactions. We encourage you to disclose your privacy practices and respect the privacy of other users. We cannot guarantee the privacy or security of your information and therefore we encourage you to evaluate the privacy and security policies of your trading partner before entering into a transaction and choosing to share your information. To help protect your privacy, we allow only limited access to other users' contact, shipping and financial information in order to facilitate your transactions. When users are involved in a transaction, they may have access to each others name, User ID, email address, and other contact and shipping information. In all cases, you must give other users a chance to remove themselves from your database and a chance to review what information you have collected about them. You agree to use user information only for:
  </p>
  <ul>
    <li>
      Any transaction-related purposes that are not unsolicited commercial messages
    </li>
    <li>
      Using services offered through the Web Site
    </li>
    <li>
      Other purposes a user expressly chooses
    </li>
  </ul>
  <h4>Cookies</h4>
  <p>
    We use "cookies" (small files placed on your hard drive) on certain pages of the Web Site to help analyze our web page flow, customize our services, measure promotional effectiveness, and promote trust and safety. A few important things you should know about cookies are:
  </p>
  <ul>
    <li>
      We offer certain features that are only available through the use of cookies
    </li>
    <li>
      We use cookies to help identify you and maintain your signed-in status
    </li>
    <li>
      Most cookies are "session cookies", meaning that they are automatically deleted from your hard drive at the end of a session
    </li>
    <li>
      You are always free to decline our cookies if your browser permits, although doing so may interfere with your use of the Web Site
    </li>
  </ul>
  <p>
    You may encounter cookies from third parties on certain pages of the Web Site that we do not control. For example, if you view a web page created by another user, there may be a “cookie” placed by that web page.
  </p>
  <h4>No Spam, Spyware or Spoofing</h4>
  <p>
    We and our users do not tolerate spam. You may not use the Site to send spam or otherwise send content that would violate the Terms.
  </p>
  <h4>Account Protection</h4>
  <p>
    Your password is the key to your account. Use unique numbers, letters, and special characters and do not disclose your password to anyone. If you do share your password or your personal information with others, remember that you are responsible for all actions taken in the name of your account. If you lose control of your password, you may lose substantial control over your personal information and may be subject to legally binding actions taken on your behalf. Therefore, if your password has been compromised for any reason, you should immediately change your password.
  </p>
  <h4>Accessing, Reviewing and Changing your Personal Information</h4>
  <p>
    You can see, review and change most of your personal information by logging into the Web Site. Generally, we will not manually modify your personal information because it is very difficult to verify your identity remotely. You must promptly update your personal information if it changes or is inaccurate. Once you make a public posting, you may not be able to change or remove it. Upon your request, we will close your account and remove your personal information from view as soon as reasonably possible, based on your account activity and in accordance with applicable law. We do retain personal information from closed accounts in order to comply with law, prevent fraud, collect any fees owed, resolve disputes, troubleshoot problems, assist with any investigations, enforce the Terms, and take other actions otherwise permitted by law.
  </p>
  <h4>Security</h4>
  <p>
    Your information is stored on our computer servers. We treat data as an asset that must be protected and use tools (encryption, passwords, physical security, etc.) to protect your personal information against unauthorized access and disclosure. However, as  you know, third parties may unlawfully intercept or access transmissions or private communications, and other users may abuse or misuse your personal information that they collect from the Web Site. Therefore, although we work very hard to protect your privacy, we do not promise, and you should not expect, that your personal information or private communications will always remain private.
  </p>
  <h4>Third Parties</h4>
  <p>
    Except as otherwise expressly included in this Privacy Policy, this document addresses only the use and disclosure of information we collect from you. If you disclose your information to others, whether they are users or vendors on our Web Site throughout the Internet, different rules may apply to their use or disclosure of the information you disclose to them. Since the Company does not control the privacy policies of third parties, you are subject to the privacy policies of those third parties. We encourage you to ask questions before you disclose your personal information to others.
  </p>
</div>
<div class="rightside">

</div>
<div class="clearfix"></div>
