<div class="page">
  <div class="page-left">
    <div class="profile-avatar">
      <img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200"
          width="200" height="200" />
    </div>
    <span class="section-heading">David Chancellor</span>
  </div>
  <div class="page-right">
    <span class="section-heading">Datasets</span>
    <span class="section-description">
      A <span style="font-style:italic;">dataset</span> is a collection of related channels.
    </span>
    <div class="dnd">
      <span class="dnd-instructions">
        Create your first dataset by dragging &amp; dropping or selecting a file.
      </span>
      <div class="profile-spinner"></div>
    </div>
    <br />
    <br />
    <span class="section-heading">Views</span>
    <span class="section-description">
      A <span style="font-style:italic;">view</span> is one or more channels from one or more datasets with a start and end time.
    </span>
    <span class="section-instructions">
      You have not created any views yet.
    </span>
  </div>
</div>
