<%
  // Save model attributes
  var data = this.model.attributes;
  var sub = this.app.profile.sub;

  // Gravatar
  var gravatar = 'https://www.gravatar.com/avatar/'
      + data.gravatar + '?s=26&d=identicon';
%>

<% if (this.app.profile.user) { %>
  <% if (this.app.profile.user.id === data.id) { %>
    <a href="/settings" class="button title-button navigate">
      <i class="icon-cog"></i> Settings</a>
  <% } else if (this.app.profile.user.role !== 2) { %>
    <% if (sub && sub.subscribee_id === data.id) { %>
      <% if (sub.meta.style === 'request') { %>
        <a href="javascript:;" class="button title-button disabled">
          <i class="icon-user"></i> Requested</a>
      <% } else { %>
        <a href="javascript:;" class="button title-button unfollow-button"
            data-path="/api/users/<%= this.model.get('username') %>/unfollow"
            data-_path="/api/users/<%= this.model.get('username') %>/follow">
          <i class="icon-user-delete"></i> Unfollow</a>
      <% } %>
    <% } else { %>
      <a href="javascript:;" class="button title-button follow-button"
          data-path="/api/users/<%= this.model.get('username') %>/follow"
          data-_path="/api/users/<%= this.model.get('username') %>/unfollow">
        <i class="icon-user-add"></i> Follow</a>
    <% } %>
  <% } %>
<% } %>
<div class="page-title">
  <img src="<%= gravatar %>" class="page-title-avatar" width="26" height="26" />
  <a href="<%= data.username %>" class="navigate"><%= data.displayName %>
      <span class="page-title-sub">(@<%= data.username %>)</span></a>
</div>
