<div class="page">
  <div>
    <span class="reset-error page-error"></span>
    <span class="page-heading">
      Reset your password
    </span>
    <form class="reset-form" enctype="multipart/form-data" method="POST">
      <table>
        <tbody>
          <tr>
            <td>
              <label for="oldpassword">Old Password</label>
            </td>
          </tr>
          <tr>
            <td>
              <input tabindex="1" id="oldpassword" name="oldpassword" type="password" />
            </td>
          </tr>
          <tr>
            <td>
              <label for="newpassword">New Password</label>
            </td>
          </tr>
          <tr>
            <td>
              <input tabindex="2" id="newpassword" name="newpassword" type="password" />
            </td>
          </tr>
          <tr>
            <td>
              <label for="cnewpassword">Confirm New Password</label>
            </td>
          </tr>
          <tr>
            <td>
              <input tabindex="3" id="cnewpassword" name="cnewpassword" type="password" />
            </td>
          </tr>
          <tr>
            <td>
              <input tabindex="4" class="reset-button" type="submit" value="Update Password" />
            </td>
          </tr>
          <tr>
            <td>
              <a href="javascript:;" class="forgot-password">I forgot my password</a>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
