<%

  var verb = this.options.fork ? 'Fork': 'Save';
  var type = this.resource === 'view' ? 'mashup': 'source';
  var title = this.options.fork ? 'fork': type;

%>


<span class="modal-title">
  <%= verb %> this <%= type %>
</span>
<div class="save-inner modal-inner">
  <div>
    <span class="modal-heading">
      Name your <%= title %>
    </span>
    <form class="save-form" enctype="multipart/form-data" method="POST">
      <table>
        <tbody>
          <tr>
            <td>
              <input name="name" type="text" />
            </td>
            <td style="width:120px;">
              <input type="submit" disabled="disabled" value="Save" />
              <div class="button-spin"></div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <span class="modal-error"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
