<div class="save-spin"></div>
<div class="save-inner modal-inner modal-inner-narrow">">
  <div>
    <form id="save_form" enctype="multipart/form-data" method="POST">
      <table>
        <tbody>
          <tr>
            <td colspan="2">
              <input name="name" type="text" placeholder="Name your view" />
            </td>
          </tr>
          <tr>
            <td>
              <span class="modal-error"></span>
            </td>
            <td>
              <input id="save" type="submit" value="Save view" style="float:right;" />
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
