<%

  var btn = this.options.target ? 'Fork': 'Save';

  var verb, type, title, name;
  if (!this.options.target) {
    verb = 'Save the current chart as a';
    type = 'view';
    title = type;
  } else {
    verb = 'Fork this';
    title = 'fork';
    if (this.options.target.type === 'dataset') {
      type = 'dataset';
      name = this.options.target.doc.title;
    } else {
      type = 'view';
      name = this.options.target.doc.name;
    }
  }
  var header = verb + ' ' + type;
  if (name)
    header += ', "' + name + '"';

%>

<div class="modal-close">
  <i class="icon-cancel"></i>
</div>
<span class="modal-title">
  <%= header %>
</span>
<div class="save-inner modal-inner">
  <div>
    <span class="modal-heading">
      Name your <%= title %>
    </span>
    <form class="save-form" enctype="multipart/form-data" method="POST">
      <table>
        <tbody>
          <tr>
            <td>
              <input name="name" type="text" style="text-indent:85px;" />
              <label class="checkbox-styled input-checkbox">
                <input class="save-private" type="checkbox" name="private" value="private" />
                <span style="padding:0; width:84px;"><i class="icon-lock-open"></i> Public</span>
              </label>
            </td>
            <td style="width:120px;">
              <input class="blue-button" type="submit" disabled="disabled" value="<%= btn %>" />
              <div class="button-spin"></div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <span class="modal-error"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
