<div class="leftside settings equal">
  <span class="page-error"></span>
  <form class="signin-form" enctype="multipart/form-data">
    <table>
      <tbody>
        <tr>
          <td>
            <label>Username or email address</label>
          </td>
        </tr>
        <tr>
          <td>
            <input class="signin-username" tabindex="1" name="username" type="text" autocomplete="off" />
          </td>
        </tr>
        <tr>
          <td>
            <label>Password</label>
          </td>
        </tr>
        <tr>
          <td>
            <input tabindex="2" class="signin-password" name="password" type="password" autocomplete="off" />
          </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
          <td>
            <input tabindex="3" class="signin-submit" type="submit" value="Log in" />
            <div class="button-spin"></div>
          </td>
        </tr>
        <tr>
          <td>
            <a href="javascript:;" class="small-link forgot-password">I forgot my password</a>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
<div class="rightside settings equal">
  <table>
    <tbody>
      <tr>
        <td>
          <a class="button connect-button google-button" href="/auth/google" tabindex="5">
            Connect with Google
            <i class="icon-right-open-big"></i>
          </a>
          <div class="button-spin button-spin-white"></div>
        </td>
      </tr>
      <tr>
        <td>
          <a class="button connect-button facebook-button" href="/auth/facebook" tabindex="6">
            Connect with Facebook
            <i class="icon-right-open-big"></i>
          </a>
          <div class="button-spin button-spin-white"></div>
        </td>
      </tr>
      <tr>
        <td>
          <a class="button connect-button twitter-button"  href="/auth/twitter" tabindex="7">
            Connect with Twitter
            <i class="icon-right-open-big"></i>
          </a>
          <div class="button-spin button-spin-white"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="clearfix"></div>
<div class="footer">
  <ul>
    <li>
      <a href="/contact" class="navigate">Contact</a>
    </li>
    <li>
      <a href="/privacy" class="navigate">Privacy Policy</a>
    </li>
    <li>
      <a href="/terms" class="navigate">Terms of Use</a>
    </li>
  </ul>
</div>
