<span class="modal-title">
  Sign in to Timeline
</span>
<div class="signin-inner modal-inner">
  <div>
    <div class="connect-wrap">
      <span class="modal-heading">
        a) Connect with your existing services
      </span>
      <table>
        <tbody>
          <tr>
            <td>
              <a class="button connect-button google-button" href="/auth/google" tabindex="8">
                Connect with Google
              </a>
              <div class="button-spin button-spin-white"></div>
            </td>
            <td>
              <a class="button connect-button facebook-button" href="/auth/facebook" tabindex="9">
                Connect with Facebook
              </a>
              <div class="button-spin button-spin-white"></div>
            </td>
            <td>
              <a class="button connect-button twitter-button" 
                  href="/auth/twitter" tabindex="10">
                Connect with Twitter
              </a>
              <div class="button-spin button-spin-white"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="signup-wrap">
      <span class="signin-error modal-error"></span>
      <span class="modal-heading">
        b) Sign up
      </span>
      <iframe src="/_blank" id="signup_target" name="signup_target" class="form-iframe"></iframe>
      <form class="signup-form" enctype="multipart/form-data" target="signup_target" method="POST" action="/_blank">
        <table>
          <tbody>
            <tr>
              <td>
                <label for="newusername">New username</label>
              </td>
            </tr>
            <tr>
              <td>
                <input tabindex="4" id="newusername" name="newusername" type="text" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="newemail">Email address (private)</label>
              </td>
            </tr>
            <tr>
              <td>
                <input tabindex="5" id="newemail" name="newemail" type="text" autocomplete="off" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="newpassword">New password</label>
              </td>
            </tr>
            <tr>
              <td>
                <input tabindex="6" id="newpassword" name="newpassword" type="password" autocomplete="off" />
              </td>
            </tr>
            <tr>
              <td>
                <input tabindex="7" class="signup-button" type="submit" value="Create your account" />
                <div class="button-spin"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <div class="login-wrap">
      <span class="signin-error modal-error"></span>
      <span class="modal-heading">
        c) Login
      </span>
      <iframe src="/_blank" id="signin_target" name="signin_target" class="form-iframe"></iframe>
      <form class="signin-form highlight" enctype="multipart/form-data" target="signin_target" method="POST" action="/_blank">
        <table>
          <tbody>
            <tr>
              <td>
                <label for="username">Username or email</label>
              </td>
            </tr>
            <tr>
              <td>
                <input tabindex="1" id="username" name="username" type="text" />
              </td>
            </tr>
            <tr>
              <td>
                <label for="password">Password</label>
              </td>
            </tr>
            <tr>
              <td>
                <input tabindex="2" id="password" name="password" type="password" />
              </td>
            </tr>
            <tr>
              <td>
                <input tabindex="3" class="login-button" type="submit" value="Log in" />
                <div class="button-spin"></div>
              </td>
            </tr>
            <tr>
              <td>
                <a href="javascript:;" class="small-link forgot-password">I forgot my password</a>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <div class="clearfix"></div>
    <a href="/privacy" class="small-link navigate">Privacy Policy</a>
  </div>
</div>
