<div class="page">
  <h1>
    Where ignorance lurks, so too do the frontiers of discovery
  </h1>
  <h2>
    Dinosaurs are extinct today because they lacked opposable thumbs and the brainpower to build a space program.
  </h2>
  <div class="splash-buttons">
    <a href="javascript:;" class="splash-start-button splash-button button">
      Get started
    </a>
  </div>
  <div class="splash-chart"></div>
  <ul class="splash-boxes">
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="clear"></div>
</div>
