
<div class="leftside settings">

  <div class="dnd"><i class="icon-inbox-1"></i></div>

  <div class="modal-inner">
    <div>
      <span class="modal-heading">
        Add data from a file on your computer.
      </span>
      <input name="dummy_data_file" type="text" class="dummy-file-input" placeholder="Select file..." readonly />
      <input name="data_file" type="file" class="file-input" />
      <div class="finder-progress-bar"></div>
      <span class="modal-error"></span>
    </div>
  </div>

  <div class="upload-instructions">
    <p>
    </p>
  </div>

  <p>  We need a little more information about your file. </p>

  <form enctype="multipart/form-data" method="POST" class="upload-form">

    <label for="uploadHeaderRows">How many rows should we skip? </label>
    <input type="text" name="uploadHeaderRows" value="0"></input>

    <div class="dateOptions">
      <label for="uploadDateColumn">Select the column that contains the date</label>
      <select name="uploadDateColumn">
      </select>

      <label for="uploadDateFormat">Select the format of the date</label>
      <select name="uploadDateFormat">
      </select>
    </div>

    <label for="uploadTimeSelect">Time</label>
    <input checked type="radio" name="uploadTimeSelect" value="none"> No time data </input>
    <input type="radio" name="uploadTimeSelect" value="both"> Date and time are in the same column</input>
    <input type="radio" name="uploadTimeSelect" value="sep"> Date and time are in separate columns</input>

    <div class="upload-time-options">
      <label for="uploadTimeColumn">Select the column that contains the time</label>
      <select name="uploadTimeColumn">
      </select>

      <label for="uploadTimeFormat">Date Time Format</label>
      <select name="uploadTimeFormat">
      </select>
    </div>

  </form>

  <span class="upload-preview-error"></span>
  <div> Preview </div>

  <table class="upload-preview-table">
    <tbody>
    </tbody>
  </table>

  <input class="blue-button" type="submit"></input>

</div>
<div class="rightside">
</div>
<div class="clearfix"></div>
<div class="footer">
  <ul>
    <li>
      <a href="/contact" class="navigate">Contact</a>
    </li>
    <li>
      <a href="/privacy" class="navigate">Privacy Policy</a>
    </li>
    <li>
      <a href="/terms" class="navigate">Terms of Use</a>
    </li>
  </ul>
</div>
