
<div class="leftside settings">

  <div class="dnd"><i class="icon-inbox-1"></i></div>

  <div class="modal-inner">
    <div>
      <span class="modal-heading">
        Add data from a file on your computer.
      </span>
      <input name="dummy_data_file" type="text" class="dummy-file-input" placeholder="Select file..." readonly />
      <input name="data_file" type="file" class="file-input" />
      <div class="finder-progress-bar"></div>
      <span class="modal-error"></span>
    </div>
  </div>

  <div class="upload-instructions">
    <p>
    </p>
  </div>


  <form enctype="multipart/form-data" method="POST" class="upload-form">

    <table>
      <tbody>
        <tr>
          <td>
            <h1>  We need a little more information about your file. </h1>
          </td>
        </tr>
        <tr>
          <td>
            <span class="page-section">Header</span>
          </td>
        </tr>
        <tr>
          <td>
            <label for="uploadHeaderRows">How many rows should we skip for the header? </label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" name="uploadHeaderRows" value="0"></input>
          </td>
        </tr>
        <tr><td>&nbsp;</tr></td>
        <tr>
          <td>
            <span class="page-section">Date Information</span>
          </td>
        </tr>
        <tr>
          <td>
            <label for="uploadDateColumn">Select the column that contains the date</label>
          </td>
        </tr>
        <tr>
          <td>
            <select name="uploadDateColumn"> </select>
          </td>
        </tr>
        <tr>
          <td>
            <label for="uploadDateFormat">Select the format of the date</label>
          </td>
        </tr>
        <tr>
          <td>
            <select name="uploadDateFormat"> </select>
          </td>
        </tr>
        <tr><td>&nbsp;</tr></td>
        <tr>
          <td>
            <span class="page-section">Time Information</span>
          </td>
        </tr>
        <tr>
          <td>
             <input checked type="radio" name="uploadTimeSelect" value="none"> None </input>
          </td>
        </tr>
        <tr>
          <td>
            <ul class="settings-detail-txt settings-detail-list">
              <li>This file doesn't contain information about time of day.</li>
              <li> eg, <strong>May 23 1984.</strong> </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            <input type="radio" name="uploadTimeSelect" value="both"> Same column </input>
          </td>
        </tr>
        <tr>
          <td>
            <ul class="settings-detail-txt settings-detail-list">
              <li>In this file, date and time information are in the same column. </li>
              <li> eg, <strong>May 23 1984 12:30pm.</strong> </li>

            </ul>
          </td>
        </tr>
        <tr>
          <td>
            <input type="radio" name="uploadTimeSelect" value="sep"> Seperate columns</input>
          </td>
        </tr>
        <tr>
          <td>
            <ul class="settings-detail-txt settings-detail-list">
              <li>In this file, date and time information are in seperate columns. </li>
              <li> eg, Column A: <strong>May 23 1984</strong>. Column B: <strong>12:30 PM.</strong> </li>

            </ul>
          </td>
        </tr>
<tr>
          <td>
            <label for="uploadTimeColumn">Select the column that contains the time</label>
          </td>
        <tr>
          <td>
            <select name="uploadTimeColumn"> </select>
          </td>
        </tr>
        <tr>
          <td>
            <label for="uploadTimeFormat">Date Time Format</label>
          </td>
        </tr>
        <tr>
          <td>
            <select name="uploadTimeFormat"> </select>
          </td>
        </tr>
      </tbody>
    </table>
  </form>

  <span class="upload-preview-error"></span>
  <div class="upload-table-wrap">
    <div> Preview </div>
    <table class="upload-preview-table">
      <tbody>
      </tbody>
    </table>
  </div>

  <input class="blue-button" type="submit"></input>

</div>
<div class="rightside">
</div>
<div class="clearfix"></div>
<div class="footer">
  <ul>
    <li>
      <a href="/contact" class="navigate">Contact</a>
    </li>
    <li>
      <a href="/privacy" class="navigate">Privacy Policy</a>
    </li>
    <li>
      <a href="/terms" class="navigate">Terms of Use</a>
    </li>
  </ul>
</div>
