html, body, pre {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  overflow: hidden;
}

pre {
  position: relative;
  width: 695px;
  height: 500px;
/*  font-size: 9px !important;
  line-height: 14px;
*/
}

.ace_scroller {
  overflow-x: hidden !important;
}

