/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { /*background-color: #ff9;*/ color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { /*overflow-y: scroll;*/ }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

/*
    // ========================================== \\
   ||                                              ||
   ||               Start Mission Style            ||
   ||                                              ||
    \\ ========================================== //
*/

body {
  background: #FBFBFB;
/*  font-family: "gesta-1","gesta-2",sans-serif;*/
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 11px;
  line-height: 14px;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
  color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

canvas {
  letter-spacing: 1px;
}

#container {
  padding: 0;
}

header {
  padding: 10px 0 6px 0;
  background: #1a1a1a;
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0,1);
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,1);
  box-shadow: 0px 0px 5px rgba(0,0,0,1);

  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -moz-box-orient: horizontal;
  width: 100%;
}

header > div:nth-child(1) {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  margin: 0 0 0 10px;
}

header > div:nth-child(2) {
  margin: 0 10px 0 0;
}

footer {}

table {
  width: 100%;
  /*margin: 10px 0 0;*/
}

#main {
  padding: 40px 0 0;
  width: 100%;
  /*min-height: 650px;*/
}

nav {
/*  float: right;*/
  /*margin: 0 15px 0 0;*/
}

nav > ul > li {
  color: #ccc;
  font-weight: bold;
  display: inline-block;
  border-right: 1px solid #8A8A8A;
  padding: 0 10px;
}

nav > ul > li:first-child {
  padding-left: 0;
}

nav > ul > li:last-child {
  border-right: none;
  padding-right: 0;
}

a.menubar-link {
  font-size: 11px;
  color: orange;
  font-weight: bold;
}

a.menubar-link:hover {
  text-decoration: underline;
/*  color: white;*/
}

.white-back {
  background: white url(/images/white.png);
}

.black-back {
  background: #1a1a1a url(/images/pavement-short.jpg) repeat-x;
}

.orange {
  color: #ff931a;
}

.lefted {
  left: 0;
}

.righted {
  right: 0;
}

.list {
  list-style-type: none;
}

.list li {
  display: inline;
  margin: 0 0 0 20px;
}

#menu {
  float: right;
  margin: 0 25px 0 0;
}

.welcome-user {
  font-weight: 700;
}

a.link-button {
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 10px;
  background: rgba(255,255,255,0.2);
  padding: 3px 6px;
  border: 1px solid rgba(255,255,255,0.2);
  
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  
  -moz-text-shadow: gray 0 -1px;
  -webkit-text-shadow: gray 0 -1px;
  text-shadow: gray 0 -1px;
}

a.link-button:hover {
  background: rgba(255,255,255,0.1);
}

a.link-button:active {
  -moz-box-shadow: 0px 0px 3px rgba(0,0,0,1) inset;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,1) inset;
  box-shadow: 0px 0px 3px rgba(0,0,0,1) inset;
}


a.button {
  display: inline-block;
  padding: 5px 10px;
  height: 14px;
  
  background: #ff931a;
  background-color: #ff931a;
  
  background-image: -moz-linear-gradient(top, #ff931a, #B56812);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #ff931a, #B56812);
  /* IE10 */
  background-image: -o-linear-gradient(top, #ff931a, #B56812);
  /* Opera 11.10+ */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff931a), to(#B56812));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #ff931a, #B56812);
  /* Chrome 10+, Saf5.1+ */
  background-image: linear-gradient(top, #ff931a, #B56812);
  
  text-shadow: rgba(0, 0, 0, 0.8) 0 -1px 0;
  color: #fff;
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  font-size: 11px;
  letter-spacing: 0px;
  font-weight: bold;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  
  -webkit-font-smoothing: antialiased;
  
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 3px, rgba(0, 0, 0, 0.65) 0 0 0 1px, inset rgba(255, 255, 255, 0.25) 0 1px 1px, inset rgba(0, 0, 0, 0.25) 0 -1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 3px, rgba(0, 0, 0, 0.65) 0 0 0 1px, inset rgba(255, 255, 255, 0.25) 0 1px 1px, inset rgba(0, 0, 0, 0.25) 0 -1px 1px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 3px, rgba(0, 0, 0, 0.65) 0 0 0 1px, inset rgba(255, 255, 255, 0.25) 0 1px 1px, inset rgba(0, 0, 0, 0.25) 0 -1px 1px;
  
  opacity: 0.8;
  
  -moz-transition: opacity 0.2s linear;
  /* FF4+ */
  -o-transition: opacity 0.2s linear;
  /* Opera 10.5+ */
  -webkit-transition: opacity 0.2s linear;
  /* Saf3.2+, Chrome */
  -ms-transition: opacity 0.2s linear;
  /* IE10? */
  transition: opacity 0.2s linear;
}

a.button:hover {
  opacity: 1; 
}

a.button:active {
  background-image: -moz-linear-gradient(top, #B56812, #ff931a);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #B56812, #ff931a);
  /* IE10 */
  background-image: -o-linear-gradient(top, #B56812, #ff931a);
  /* Opera 11.10+ */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#B56812), to(#ff931a));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #B56812, #ff931a);
  /* Chrome 10+, Saf5.1+ */
  background-image: linear-gradient(top, #B56812, #ff931a);
}







div.landing-wrap {
  width: 100%;
  background: #1a1a1a url(/images/pavement.jpg) repeat-x;
}

div.landing-line {
  position: absolute;
  top: 90px;
  background: white;
  opacity: 0.1;
  height: 1px;
  width: 100%;
}

div.landing-center {
  margin: 0 auto;
  width: 944px;
}

div.landing-center-wide {
  margin: 0 auto;
  width: 984px;
}

div.landing-text {
  padding: 65px 0 48px;
}





/*h1 {
  font: bold 53px Arial, Helvetica, sans-serif;
  color: white;
  letter-spacing: -3px;
  word-spacing: 1px;
  line-height: 53px;
  opacity: 0.8;
  margin: 0 0 10px;
  
  -moz-text-shadow: black 0 -1px;
  -webkit-text-shadow: black 0 -1px;
  text-shadow: black 0 -1px;
}
*/
/*h2.landing-one {
  color: white;
  line-height: 14px;
  opacity: 0.8;
  max-width: 600px;
  
  -moz-text-shadow: black 0 -1px;
  -webkit-text-shadow: black 0 -1px;
  text-shadow: black 0 -1px;
}
*/
#landing-map {
  background: #b3b3b3 !important;
  border-top: 3px solid #ff931a;
  position: absolute;
  top: 325px;
  width: 984px;
  height: 400px;
  
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,1);
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,1);
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
}

#landing-phone {
  position: absolute;
  top: 400px;
  left: 670px;
}

#landing-meta {
  background: none;
  position: absolute;
  top: 400px;
  left: 795px;
  padding: 0 0 0 20px;
  border-left: 1px solid #1a1a1a;
  width: 300px;
}

h2.landing-two {
  font-size: 16px;
  color: #1a1a1a;
  font-weight: bold;
  letter-spacing: -1px;
  word-spacing: 1px;
  
  -moz-text-shadow: white 0 1px;
  -webkit-text-shadow: white 0 1px;
  text-shadow: white 0 1px;
}

#landing-meta p {
  color: #666;
  font-weight: bold;
  font-size: 11px;
  padding: 10px 0 0 0;
  
  -moz-text-shadow: white 0 1px;
  -webkit-text-shadow: white 0 1px;
  text-shadow: white 0 1px;
}


div.landing-bottom {
  width: 100%;
  border-top: 3px solid #ff931a;
  position: absolute;
  top: 335px;
  z-index: -10;
}

div.landing-reports {
  position: relative;
  top: 70px;
}

#landing-message,
#landing-success,
#landing-error {
  position: absolute;
  right: 0;
  display: none;
}
p.landing-report {
  font-style: italic;
  color: #ccc;
}

div.landing-logo {
  margin: 0 500px 0 0;
  padding: 30px 0 0;
}


div.c2s-login-view {
  margin: 100px auto 20px auto;
  width: 290px;
}

h2.message, h2.error {
  width: 268px;
  position: absolute;
  top: 122px;
  color:#404040; padding:10px; font-size:10px; font-weight:normal;
  border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
}
h2.message {
  background-color:#eff5db; border:1px solid #b1cd49;
}
h2.error {
  background-color:#ffcccc; border:1px solid red;
}


div.landing-form {
/*  float: right;*/
/*  margin: -16px 0 0;*/
/*  padding: 30px 0 0;*/
  padding: 5px 20px 20px;
  background: white;
  
  border: 1px solid #ccc; 
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius: 5px;
  
  -moz-box-shadow:0 5px 20px #ccc; 
  -webkit-box-shadow:0 5px 20px #ccc;
  box-shadow:0 5px 20px #ccc; 
}

div.landing-form form {
  max-height: 160px;
}

div.landing-form td {
  padding: 0;
  border-top: none;
}

label {
  font-size: 11px;
  padding: 0 0 2px 0;
  color: gray;
}

input[type=text],
input[type=password] {
  background: #FBFBFB;
  font-size: 24px;
  margin: 2px 6px 16px 0;
  padding: 3px;
  width: 97%;
  height: auto;
  color: #404040;
  border: 1px solid #CCC;


/*  color: white;
  font-weight: bold;
  font-size: 16px;
  background: rgba(255,255,255,0.2);
  padding: 5px;
  width: 175px;
  border: 1px solid rgba(255,255,255,0.2);
  
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
*/  
 /* -moz-box-shadow: 0px 0px 3px rgba(0,0,0,1) inset;
   -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,1) inset;
   box-shadow: 0px 0px 3px rgba(0,0,0,1) inset;*/
}

input:not([type=submit]):focus {
  background: rgba(255,255,255,0.1);
}

input[type=submit] {
  
  font-size:12px; margin:0; padding:4px 8px; color:#404040; font-weight:bold; display:inline;
  border:1px solid #ddd; border-radius:15px; -moz-border-radius:15px; -khtml-border-radius:15px; -webkit-border-radius:15px;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(rgb(238,238,238)), to(rgb(255,255,255)));
  background-image: -moz-linear-gradient(center bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
  
  
/*  color: white;
  font-weight: bold;
  font-size: 16px;
  background: rgba(255,255,255,0.2);
  padding: 5px;
  border: 1px solid rgba(255,255,255,0.2);
*/  
  
/*  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
*/  
  -moz-text-shadow: 0 1px 1px #fff;
  -webkit-text-shadow: 0 1px 1px #fff;
  text-shadow: 0 1px 1px #fff;
}

input[type='submit']:hover { border:1px solid #808080; }
input[type='submit']:active {
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(rgb(255,255,255)), to(rgb(238,238,238)));
  background-image: -moz-linear-gradient(center bottom, rgb(255,255,255) 0%, rgb(238,238,238) 100%);
}

/*input[type=submit]:active {
  -moz-box-shadow: 0px 0px 3px rgba(0,0,0,1) inset;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,1) inset;
  box-shadow: 0px 0px 3px rgba(0,0,0,1) inset;
}*/

input:focus, textarea:focus {
  outline: none;
}

input::-moz-focus-inner, textarea::-moz-focus-inner {
  border: none;
}

input.cs-input-alert {
  border: 1px solid rgba(255,0,0,0.4) !important;
}

input.cs-button-alert[type=submit] {
  color: red !important;
}

span.landing-copy {
  color: #808080;
  font-size: 9px;
  position: relative;
  top: 420px;
  padding: 0 0 20px;
}

#remember_me {
  margin: 0 5px 0 0;
}




.flex {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -moz-box-orient: horizontal;
  width: 100%;
  margin: 0 0 10px 0;
}

.flex > div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

.dashboard-top {
  padding: 0;
  width: 100%; 
}
.dashboard-bottom {
  padding: 0;
  width: 100%;
}
.dashboard-left {
  padding:0 5px 0 0;
  width:40%;
}
.dashboard-right {
  padding:0 0 0 5px;
  width:60%;
}
.dashboard-left-side {
  padding: 0 5px 0 0;
  width: 20%;
}
.dashboard-right-side {
  padding: 0 0 0 5px;
  width: 15%;
}
.dashboard-right-wide {
  padding: 0 0 0 5px;
  width: 80%;
}

input.dashboard-search {
  display: inline;
  color: #333;
  float: right;
  margin: 0px 2px 0 0;
  font-size: 9px;
  -webkit-border-radius: 3px;
  border: 1px inset;
  background: rgba(255,255,255,0.6);

  padding: 1px;
  width: auto;
  height: auto;
}
input.dashboard-search:focus {
  color: black;
  background: rgba(255,255,255,0.9);
}

/*input.dashboard-header-button {
  display: inline;
  float: right;
  margin: 0px 2px 0 0;
  font-size: 9px;
  -webkit-border-radius: 3px;
  border: 1px inset;
  padding: 1px;
  width: auto;
  height: auto;
}*/

.dashboard-wrap { width:100%; min-width:1065px; }

a.dashboard-link {
/*  font-family: monospace;*/
  float:right;
  font-weight:bold;
  color:#404040;
  font-size:10px;
  text-decoration:none;
  font-style:normal;
  margin:-1px 0 0;
  padding:0 5px;
  line-height:17px;
  text-shadow:0 1px 1px white;
  -moz-text-shadow:0 1px 1px white;
  -khtml-text-shadow:0 1px 1px white;
  -webkit-text-shadow:0 1px 1px white;
  border-left:1px solid #eee;
}
a.dashboard-link:hover { }
a.dashboard-link:active { 
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(rgb(221,221,221)), to(rgb(204,204,204)));
  background-image: -moz-linear-gradient(center bottom, rgb(221,221,221) 0%, rgb(204,204,204) 100%);
}



/*.dashboard-bar-left { float:left; width:26.5%; padding:0 0.5% 0 0; min-width:280px; }



.dashboard-wide { width:100%; padding:0; min-width:500px; }*/

/*.dashboard-bar-right { float:left; width:18%;  min-width:100px; }*/


.dashboard-item {
  display:none;
  background:white; margin:0 0 10px 0; width:100%;
  border:1px solid #bbb; border-radius:5px; -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; 
}

.dashboard-item-search { display:inline; color:#808080; float:right; margin:-3px 0 0 0;}

.dashboard-item-header {
  padding:1px 0 2px 10px;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(rgb(204,204,204)), to(rgb(221,221,221)));
  background-image: -moz-linear-gradient(center bottom, rgb(204,204,204) 0%, rgb(221,221,221) 100%);
}

h1.dashboard-item-header-txt {
  color:#404040; font-size:10px; margin:0 50% 0 0; white-space: nowrap;
  text-shadow:0 1px 1px white; -moz-text-shadow:0 1px 1px white; -khtml-text-shadow:0 1px 1px white; -webkit-text-shadow:0 1px 1px white;
}

.dashboard-item-content {
  min-height: 34px;
}

.dashboard-item-content:focus {
  outline:none;
}

.dashboard-item-content::-moz-focus-inner {
  border: none;
}

/*.scrollable {
  overflow-y: scroll;
}
*/

p.dashboard-item-message {
  padding:10px; color:#666;
  font-style: italic;
  white-space: nowrap;
}




tr.light { background: white; }
tr.dark { background: #F6FBFC; }

th { padding:5px 10px; vertical-align:top; font-weight:normal; white-space: nowrap; }
td { padding:5px 10px; border-top:1px solid #aaa; vertical-align:top; /*white-space: nowrap;*/ }
th[align=right],
td[align=right] {
  padding-right: 20px;
}

thead {
  text-align: left;
  font-size: 10px;
  color: gray;
}



.edit-panel { visibility:hidden; white-space:nowrap; }
a.edit-link, a.trash-link, a.view-link, a.clone-link { font-size:11px; text-decoration:none; font-style:normal; padding:5px 0 0 0; }
a.edit-link { color:#5880c0; }
a.trash-link { color:red; }
a.view-link { color:purple; }
a.clone-link { color:green; }
a.edit-link:hover, a.trash-link:hover, a.view-link:hover, a.clone-link:hover { color:orange; }














.tabs {
  position: relative;
  display:none;
}

.tab-bar {
  position: absolute;
  top: 0;
  z-index: 1001;
  width: 100%;
  border-top: 1px solid #666;
}

.tab-bar-top {
  height: 7px;
  /*background: #ccc;*/
}

.tab-bar-bottom {
  height: 2px;
/*  background: #ccc;*/
}

.tab {
  position: absolute;
  bottom: 6px;
  height: 30px;
  z-index: 0;
}

.tab a {
  font-size: 10px;
  /*color: #b1b3b5;*/
  color: black;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
/*-moz-text-shadow:0 1px 1px #1a1a1a; 
  -webkit-text-shadow:0 1px 1px #1a1a1a;
  text-shadow:0 1px 1px #1a1a1a;*/
}

.tab a:active {
  outline: none;
}

.tab a:hover {
  /*color: white;*/
}


a.tab-closer {
  font-size: 11px;
  color: gray;
  position: absolute;
  right: 16px;
  top: 17px;
}

a.tab-closer:hover {
 color:black; 
}

.tab-side {
  display: inline-block;
  position: relative;
  top: 12px;
  width: 18px;
  height: 32px;
}

.tab-content {
  display: inline-block;
  height: 17px;
  position: relative;
  bottom: 2px;
  padding: 4px 15px;
  background: #fbfcf6;
  background-image: -moz-linear-gradient(
    center bottom,
    #fbfcf6 100%,
    #fbfbfb 20%
  );
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1.0, #fbfcf6),
    color-stop(0.2, #fbfbfb)
  );  
  border-top: 1px solid #666;
}

.tab-content-inactive {
  color: gray;
  /*background: #fbfcf6;*/
  border-top: 1px solid #ccc;
/*  background-image: -moz-linear-gradient(
    center bottom,
    rgb(51,51,51) 80%,
    rgb(46,46,46) 100%
  );
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.8, rgb(51,51,51)),
    color-stop(1.0, rgb(46,46,46))
  );
*/
}

.folder {
  width: 97%;
  padding: 20px;
  display:none;
/*  background: #222;
  background-image: -moz-linear-gradient(
    0 0,
    rgb(34,34,34) 40%,
    rgb(77,77,77) 50%,
    rgb(34,34,34) 60%
  );
  background-image: -webkit-gradient(
    linear,
    0 0,
    100% 100%,
    color-stop(0.4, rgb(34,34,34)),
    color-stop(0.5, rgb(77,77,77)),
    color-stop(0.6, rgb(34,34,34))
  );
  -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
*/}

div.table {
  position: relative;
  padding: 10px 0 0;
  width: 100%;
}

div.preferences {
  display: none;
  /*background: #1a1a1a;*/
  /*padding: 40px;*/
}

div.tr {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  
  width: 100%;
  padding: 1px 0 0 0;
  
  -moz-user-select: text;
  -webkit-user-select: text;
  user-select: text;
}

div.tr.row-details {
  display: none;
  width: 100%;
  
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

div.th, div.td:not(.expand) {
  padding: 7px 10px;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  width: 500px;
}

div.th {
  margin: 0 0 1px 0;
  text-align: left;
  font-size: 10px;
  font-weight: 700;
  color: #808080;
  background: #1a1a1a;
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(26,26,26) 0%,
    rgb(51,51,51) 100%
  );
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.0, rgb(26,26,26)),
    color-stop(1.0, rgb(51,51,51))
  );
  border-left: 1px solid #303030;
  border-right: 1px solid #131313;
}

div.ts {
  background: #1a1a1a;
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(26,26,26) 0%,
    rgb(51,51,51) 100%
  );
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.0, rgb(26,26,26)),
    color-stop(1.0, rgb(51,51,51))
  );
}

div.td {
  font-size: 11px;
  color: white;
}

div.th.leftest, div.td.leftest {
  border-left: none;
  padding: 7px 10px 7px 0;
}

div.th.rightest {
  /*border-right: none;*/
}

div.td.light {
  background: #1f1f1f;
}

div.td.dark {
  background: #1a1a1a;
}

div.th.expand, div.td.expand {
  border: none;
  padding: 7px 10px;
  width: 10px;
}

div.tr.row-details div.td {
  width: 100%;
  padding: 0;
}

div.details-wrap {
  width: 100%;
  height: 20px;
  position: relative;
  background: #1c1c1c;
}

div.details-bar-top, div.details-bar-bottom {
  width: 100%;
  height: 9px;
  position: absolute;
  background: #0d0d0d;
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(13,13,13) 0%,
    rgb(31,31,31) 100%
  );
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.0, rgb(13,13,13)),
    color-stop(1.0, rgb(31,31,31))
  );
}

div.details-bar-top {
  top: 0;
}

div.details-bar-bottom {
  bottom: 0;
  cursor: ns-resize;
}

div.details {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  
  width: 100%;
  height: 100%;
}

div.details-left, div.details-right {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100% !important;
  padding: 9px 0;
  overflow: hidden;
  position: relative;
}

div.details-right > div {
  /*cursor: move;*/
}

div.details-bar-middle {
  width: 9px;
  height: 100%;
  background: #0d0d0d;
  background-image: -moz-linear-gradient(
    right center,
    rgb(13,13,13) 0%,
    rgb(31,31,31) 100%
  );
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    color-stop(0.0, rgb(13,13,13)),
    color-stop(1.0, rgb(31,31,31))
  );
  
  cursor: ew-resize;
}

.map {
  width: 100%;
  height: 100%;
  background: #b3b3b3 !important;
}

.map-tmp {
  background: #1c1c1c !important;
}

.map-info, .map-time {
  position: absolute;
  
/*  background: rgba(0,0,0,0.7);*/
  
  /*border: 1px solid rgba(255,255,255,0.5);*/
  
  /*-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;*/
  
/*  padding: 3px 5px;*/
  
  /*font-family: monospace;*/
/*  font-size: 10px;*/
/*  color: white;*/
  
  
  color: white;
  font-weight: bold;
  font-size: 10px;
  padding: 4px 6px 3px;
  
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 3px, rgba(0, 0, 0, 0.65) 0 0 0 1px, inset rgba(255, 255, 255, 0.15) 0 1px 1px, inset rgba(0, 0, 0, 0.25) 0 -1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 3px, rgba(0, 0, 0, 0.65) 0 0 0 1px, inset rgba(255, 255, 255, 0.15) 0 1px 1px, inset rgba(0, 0, 0, 0.25) 0 -1px 1px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 3px, rgba(0, 0, 0, 0.65) 0 0 0 1px, inset rgba(255, 255, 255, 0.15) 0 1px 1px, inset rgba(0, 0, 0, 0.25) 0 -1px 1px;
  background: rgba(38,38,38,0.7);
  background-color: rgba(57,57,57,0.7);
  background-image: -moz-linear-gradient(top, rgba(57,57,57,0.7), rgba(38,38,38,0.7));
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, rgba(57,57,57,0.7), rgba(38,38,38,0.7));
  /* IE10 */
  background-image: -o-linear-gradient(top, rgba(57,57,57,0.7), rgba(38,38,38,0.7));
  /* Opera 11.10+ */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(57,57,57,0.7)), to(rgba(38,38,38,0.7)));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, rgba(57,57,57,0.7), rgba(38,38,38,0.7));
  /* Chrome 10+, Saf5.1+ */
  background-image: linear-gradient(top, rgba(57,57,57,0.7), rgba(38,38,38,0.7));
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  
  text-shadow: rgba(0, 0, 0, 0.8) 0 -1px 0;
  
  display: none;
}

.map-info {
  top: 20px;
  left: 20px;
}

.map-time {
  top: 20px;
  left: 20px;
}

.tree, .navigator {
  width: 100%;
  height: 100%;
  /*background: #b3b3b3 !important;*/
}

.graph, .navigator {
  width: 100%;
  height: 100%;

  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;

  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;

  overflow: hidden;
}

.graph > div {
  width: 98%;
  height: 95%;
  top: 0;
}

.navigator > div {
  width: 103%;
  height: 63px;
  top: -8px;
  left: -16px;
}

.icon {
  position: absolute;
}

.legend > table {
  width: 15%;
  background: rgba(0,0,0,0.05);
}

.legend > div {
  display: none;
}

.legend td {
  padding: 3px 5px;
  border-top: none;
  text-align: right;
  font-weight: bold;
}

.legendLabel {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}

a.label-closer {
  font-size: 11px;
  color: gray;
}

a.label-closer:hover {
 color:black; 
}

.legendColorBox {
  width: 18px;
}

.tree a {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.tree a::-moz-selection,
.tree ins::-moz-selection,
.tree a::selection,
.tree ins::selection { background:transparent; color:black; }

img.resize-x {
  position: relative;
  /*top: 48%;*/
  left: 3px;
}

img.resize-y {
  position: relative;
  left: 48%;
  bottom: 2px;
}

div.details-loader-wrap {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  
  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
  
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  
  width: 100%;
  height: 100%;
}

div.loading-more {
  display: none;
  position: absolute;
  top: 40px;
  left: 75px;
}

div.details-loader-wrap > span {
  color: #808080;
}

div.loading-more > span {
  color: #cccccc;
}

a.row-link {
  color: white;
}

a.row-link:active {
  outline: none;
}

a.row-link:hover {
  color: #F48718;
}

a.expander {
  margin: 1px 0 0;
}

img.open {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  rotation: 90deg;
}

div.overviewer {
  height: 20px;
  width: 100%;
  position: absolute;
  bottom: 9px;
  background: #1a1a1a;
  /*background-image: -moz-linear-gradient(
      center bottom,
      rgb(56,56,56) 0%,
      rgb(51,51,51) 100%
    );
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.0, rgb(56,56,56)),
      color-stop(1.0, rgb(51,51,51))
    );*/
/*  border-top: 1px solid #5a5a5a;*/
}

.overviewer-canvas {
  position: absolute;
}

div.overviewer-slider {
  display: none;
  position: absolute;
  top: -1px;
  right: 0;
  width: 21px;
  height: 21px;
  
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 3px, rgba(0, 0, 0, 0.65) 0 0 0 1px, inset rgba(255, 255, 255, 0.15) 0 1px 1px, inset rgba(0, 0, 0, 0.25) 0 -1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 3px, rgba(0, 0, 0, 0.65) 0 0 0 1px, inset rgba(255, 255, 255, 0.15) 0 1px 1px, inset rgba(0, 0, 0, 0.25) 0 -1px 1px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 3px, rgba(0, 0, 0, 0.65) 0 0 0 1px, inset rgba(255, 255, 255, 0.15) 0 1px 1px, inset rgba(0, 0, 0, 0.25) 0 -1px 1px;
  
  background: rgba(38,38,38,0.7);
  background-color: rgba(57,57,57,0.7);
  
  background-image: -moz-linear-gradient(top, rgba(57,57,57,0.7), rgba(38,38,38,0.7));
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, rgba(57,57,57,0.7), rgba(38,38,38,0.7));
  /* IE10 */
  background-image: -o-linear-gradient(top, rgba(57,57,57,0.7), rgba(38,38,38,0.7));
  /* Opera 11.10+ */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(57,57,57,0.7)), to(rgba(38,38,38,0.7)));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, rgba(57,57,57,0.7), rgba(38,38,38,0.7));
  /* Chrome 10+, Saf5.1+ */
  background-image: linear-gradient(top, rgba(57,57,57,0.7), rgba(38,38,38,0.7));

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  
  cursor: move;
}

div.overviewer-slider-side {
  position: absolute;
  width: 9px;
  height: 100%;
  cursor: ew-resize;
}

img.resize-slider {
  position: relative;
  top: 4px;
  left: 3px;
}

div.dygraph {
  position: absolute !important;
  cursor: hand;
}

div.dygraph-bar {
  height: 5px;
  position: absolute;
  background: #0d0d0d;
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(13,13,13) 0%,
    rgb(31,31,31) 100%
  );
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.0, rgb(13,13,13)),
    color-stop(1.0, rgb(31,31,31))
  );
}

div.dygraph-label {
  font-size: 10px;
  font-weight: 500;
  color: #CCCCCC;
  text-transform: uppercase;
}

div.dygraph-series-box {
  position: absolute;
  top: 20px;
  right: 80px;
/*  width: 105px;*/
  z-index: 10001;
  
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  letter-spacing: 0px;
/*  color: white;*/
/*  font-weight: bold;*/
/*  font-size: 10px;*/
  padding: 0;
  
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 3px, rgba(0, 0, 0, 0.65) 0 0 0 1px, inset rgba(255, 255, 255, 0.15) 0 1px 1px, inset rgba(0, 0, 0, 0.25) 0 -1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 3px, rgba(0, 0, 0, 0.65) 0 0 0 1px, inset rgba(255, 255, 255, 0.15) 0 1px 1px, inset rgba(0, 0, 0, 0.25) 0 -1px 1px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 3px, rgba(0, 0, 0, 0.65) 0 0 0 1px, inset rgba(255, 255, 255, 0.15) 0 1px 1px, inset rgba(0, 0, 0, 0.25) 0 -1px 1px;
  background: rgba(38,38,38,0.7);
  background-color: rgba(57,57,57,0.7);
  background-image: -moz-linear-gradient(top, rgba(57,57,57,0.7), rgba(38,38,38,0.7));
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, rgba(57,57,57,0.7), rgba(38,38,38,0.7));
  /* IE10 */
  background-image: -o-linear-gradient(top, rgba(57,57,57,0.7), rgba(38,38,38,0.7));
  /* Opera 11.10+ */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(57,57,57,0.7)), to(rgba(38,38,38,0.7)));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, rgba(57,57,57,0.7), rgba(38,38,38,0.7));
  /* Chrome 10+, Saf5.1+ */
  background-image: linear-gradient(top, rgba(57,57,57,0.7), rgba(38,38,38,0.7));
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  
  text-shadow: rgba(0, 0, 0, 0.8) 0 -1px 0;
}

div.dygraph-select {
  display: inline-block;
  /*position: relative;
    top: 0px;
    right: 0px;*/
  /*z-index: 10001;*/
}

p.empty-dygraph {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  
  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
  
  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
  
  color: #808080;
  
  background: url(/graphics/stripe.png) repeat;
}






/* applied to original <select> to hide */
.has_sb{position:absolute;left:-999999em;text-indent:-999999em;}
 
/* always visible styles */
.selectbox{
  display:inline-block;
  *display:inline;
  font-size:10px;
  position:relative;
  vertical-align:middle;
  zoom:1;
  width: 102px;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.selectbox .display{
  /*background:rgba(255, 255, 255, 0.8);*/
  background:none;
  border:none;
  color:white;
  cursor:default;
  display:block;
  font-weight:bold;
  height:1.46em;
  line-height:1.46em;
  overflow:hidden;
  outline:none;
  padding:0 24px 0 3px;
  position:relative;
  text-decoration:none;
  overflow:hidden;
}
.selectbox.disabled .display{color:#999;}
.selectbox.focused .display .text{/*background-color:#3399ff;color:#fcfcfc;*/display:inline-block;*display:inline;zoom:1;}
.selectbox .display.active{border-color:#7b7d83;}
.selectbox .display .arrow_btn{
    /*background:rgba(255,255,255,0.6);
        border:1px solid #707070;*/
    display:block;
    height:1.15em;
    line-height:.92em;
    padding:1px;
    position:absolute;
    right:0;
    text-align:center;
    top:0;
    width:1.08em;
}
.selectbox .display .arrow_btn .arrow{
    background:transparent url(/graphics/select_arrow.gif) no-repeat center center;
    display:inline-block;*display:inline;
    height:4px;
    left:.33em;
    position:absolute;
    top:7px;
    width:7px;
    zoom:1;
}
.selectbox .display.active .arrow_btn{
    /*-moz-box-shadow:inset 0 0 1px 1px #9eb0ba;
        -webkit-box-shadow:inset 0 0 1px 1px #9eb0ba;*/
}
/*.selectbox .display.hover .arrow_btn{background-image:url(/graphics/select_arrow_bg_hover.gif);}*/
.selectbox .value{display:none;}
 
/* dropdown styles */
.selectbox.items{
  background:rgba(255,255,255,0.8);
  /*border:1px solid #828790;*/
  display:block;
  /*font-family:arial;*/
  font-size:10px;
  list-style-type:none;
  margin:0;
  overflow-x:hidden;
  overflow-y:auto;
  padding:0 0 1px 0;
  z-index:99999;
  -moz-box-shadow:0 3px 5px rgba(0,0,0,.5);
  -webkit-box-shadow:0 3px 5px rgba(0,0,0,.5);
}
.selectbox.items.above{}
.selectbox.items li{display:block;margin:0;padding:0;/*white-space:nowrap; maybe necessary if using fixedWidth: false */}
.selectbox.items li.first{margin-top:0;}
.selectbox.items li>.item{color:#000;cursor:default;display:block;padding:4px 6px;text-decoration:none;}
.selectbox.items li>.item>.text{display:inline-block;*display:inline;zoom:1;}
.selectbox.items li.selected>.item{border-bottom:1px dotted #000;border-top:1px dotted #000;}
.selectbox.items li.disabled>.item{color:#999;}
.selectbox.items li.hover>.item{background-color:#000;color:#fcfcfc;}
.selectbox.items .value{display:none;}
 
/* optgroup styles */
.selectbox.items .optgroup .items{
  border:none;
  margin:0;
  padding:0;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}
.selectbox.items .optgroup>.label{cursor:default;font-weight:bold;line-height:1em;}
.selectbox.items .optgroup .items li>.item{padding-left:1em;}
 
/* easy rounding styles */
.selectbox .round_sb.display{
  padding:3px 26px 3px 0px;
  border-radius:0px;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
}
.selectbox .round_sb.display .arrow_btn{
  right:3px;
  top:2px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}
.selectbox.round_sb.items{
  /*border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;*/
}
.selectbox.round_sb.items>li>a{padding:4px 6px;}
.selectbox.round_sb.items>li.first>.item{
  /*-moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;*/
}
.selectbox.round_sb.items>li.last>.item{
  /*-moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;*/
}
/* for optgroups */
.selectbox.round_sb.items>li>.label{line-height:2.08em;padding:4px 6px;}
.selectbox.round_sb.items>li>.items li>.item{padding:4px 6px 4px 12px;}
 
/* fixed width example styles */
.selectbox .display.fixed_width{
  width:73px;
  padding:0 24px 0 3px;
}
 
.selectbox.fixed_width.items{
  width:100px; /* width of display text plus the padding (60 + 27) = 87 */
}
 
.selectbox .display.fixed_width2{
  width:60px;
  padding:0 24px 0 3px;
}
 
.selectbox.fixed_width2.items{
  width:300px; /* width of display text plus the padding (60 + 27) = 87 */
}






.miniColors-trigger {
  height: 15px;
  width: 15px;
/*  background: url(/graphics/trigger.png) center no-repeat;*/
  vertical-align: middle;
  /*margin: 0 .25em;*/
  display: inline-block;
  outline: none;
  margin: 3px 6px 3px 3px;
  /*position: relative;
    top: 0px;
    left: 0px;*/
  z-index: 10001;
  
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.miniColors-selector {
  position: absolute;
  width: 175px;
  height: 150px;
  background: rgba(255,255,255,0.4);
  /*border: solid 1px #BBB;*/
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .25);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .25);
  box-shadow: 0 0 6px rgba(0, 0, 0, .25);
  /*-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;*/
  padding: 5px;
  z-index: 999999;
}

.miniColors-selector.black {
  background: #000;
  border-color: #000;
}

.miniColors-colors {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 150px;
  height: 150px;
  background: url(/graphics/gradient.png) center no-repeat;
  cursor: crosshair;
}

.miniColors-hues {
  position: absolute;
  top: 5px;
  left: 160px;
  width: 20px;
  height: 150px;
  background: url(/graphics/rainbow.png) center no-repeat;
  cursor: crosshair;
}

.miniColors-colorPicker {
  position: absolute;
  width: 11px;
  height: 11px;
  background: url(/graphics/circle.gif) center no-repeat;
}

.miniColors-huePicker {
  position: absolute;
  left: -3px;
  width: 26px;
  height: 3px;
  background: url(/graphics/line.gif) center no-repeat;
}




/* all context menus have this class */
.context-menu {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  font-weight: bold;
  letter-spacing: 0px;
  font-size: 11px;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  list-style-type: none;
  background-color: #f4f4f4;
  
  margin: 0;
}

.context-menu li {
  display: block;
  padding: 6px 15px;
  text-decoration: none;
  color: black;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  
  cursor: default;
}
.context-menu li:first-child {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.context-menu li:last-child {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.context-menu li:hover {
  background: #ff931a;
  background-color: #ff931a;
  
  background-image: -moz-linear-gradient(top, #ff931a, #B56812);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #ff931a, #B56812);
  /* IE10 */
  background-image: -o-linear-gradient(top, #ff931a, #B56812);
  /* Opera 11.10+ */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff931a), to(#B56812));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #ff931a, #B56812);
  /* Chrome 10+, Saf5.1+ */
  background-image: linear-gradient(top, #ff931a, #B56812);
    
  color: white;
}





/*
    // ========================================== \\
   ||                                              ||
   ||               End Mission Style              ||
   ||                                              ||
    \\ ========================================== //
*/


.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
