/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { /*background-color: #ff9;*/ color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { /*overflow-y: scroll;*/ }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

/*::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }*/

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

/*
    // ========================================== \\
   ||                                              ||
   ||               Start Mission Style            ||
   ||                                              ||
    \\ ========================================== //
*/

html {
  overflow: hidden;
  height: 100%;
}

body {
  background: #FBFBFB;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 11px;
  line-height: 14px;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: black;
  overflow-y: hidden;
  height: 100%;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

canvas {
  letter-spacing: 1px;
}

#container {
  padding: 0;
  height: 100%;
  overflow: hidden;
}

header {
  padding: 10px 0 6px 0;
  background: #333;

  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -moz-box-orient: horizontal;
  width: 100%;
  height: 20px;
}

header > div:nth-child(1) {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  margin: 0 0 0 10px;
}

header > div:nth-child(2) {
  margin: 0 10px 0 0;
}

footer {
  background: #333;
  width: 100%;
  height: 20px;

  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -moz-box-orient: horizontal;

  position: absolute;
  bottom: 0;
  z-index: 1;
  display: none;
}

table {
  width: 100%;
}

#main {
  margin: 40px 0 0;
  width: 100%;
  height: 100%;
}

nav {}

nav > ul > li {
  color: #ccc;
  font-weight: bold;
  display: inline-block;
  border-right: 1px solid #8A8A8A;
  padding: 0 10px;
}

nav > ul > li:first-child {
  padding-left: 0;
}

nav > ul > li:last-child {
  border-right: none;
  padding-right: 0;
}

a.menubar-link {
  font-size: 11px;
  color: orange;
  font-weight: bold;
}

a.menubar-link:hover {
  text-decoration: underline;
}

.white-back {
  background: white url(/images/white.png);
}

.black-back {
  background: #1a1a1a url(/images/pavement-short.jpg) repeat-x;
}

.orange {
  color: #ff931a;
}

.lefted {
  left: 0;
}

.righted {
  right: 0;
}

.list {
  list-style-type: none;
}

.list li {
  display: inline;
  margin: 0 0 0 20px;
}

#menu {
  float: right;
  margin: 0 25px 0 0;
}

.welcome-user {
  font-weight: 700;
}

#permalink:active {
  opacity: 0.5;
}

#link-icon {
  vertical-align: text-bottom;
}

textarea.permalink-txt {
  width: 370px;
  height: 14px;
  margin: none;
  padding: 2px;
  border: 1px solid #d2d2d2;
  background: #f2f2f2;
  resize: none;
}

div.landing-wrap {
  width: 100%;
  background: #1a1a1a url(/images/pavement.jpg) repeat-x;
}

div.landing-line {
  position: absolute;
  top: 90px;
  background: white;
  opacity: 0.1;
  height: 1px;
  width: 100%;
}

div.landing-center {
  margin: 0 auto;
  width: 944px;
}

div.landing-center-wide {
  margin: 0 auto;
  width: 984px;
}

div.landing-text {
  padding: 65px 0 48px;
}


h2.landing-two {
  font-size: 16px;
  color: #1a1a1a;
  font-weight: bold;
  letter-spacing: -1px;
  word-spacing: 1px;
  
  -moz-text-shadow: white 0 1px;
  -webkit-text-shadow: white 0 1px;
  text-shadow: white 0 1px;
}

#landing-meta p {
  color: #666;
  font-weight: bold;
  font-size: 11px;
  padding: 10px 0 0 0;
  
  -moz-text-shadow: white 0 1px;
  -webkit-text-shadow: white 0 1px;
  text-shadow: white 0 1px;
}


div.landing-bottom {
  width: 100%;
  border-top: 3px solid #ff931a;
  position: absolute;
  top: 335px;
  z-index: -10;
}

div.landing-reports {
  position: relative;
  top: 70px;
}

#landing-message,
#landing-success,
#landing-error {
  position: absolute;
  right: 0;
  display: none;
}
p.landing-report {
  font-style: italic;
  color: #ccc;
}

div.landing-logo {
  margin: 0 500px 0 0;
  padding: 30px 0 0;
}

div.login-wrap {
  display: -moz-box;
  display: -webkit-box;
  display: box;

  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;

  width: 100%;
  height: 75%;
}

div.login {
  display: -moz-box;
  display: -webkit-box;
  display: box;

  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;

  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;

  position: relative;
  width: 350px;
}

form.signin-form {
  margin: 0;
}

form.signin-form input:not([type=submit]) {
  width: 342px;
}

div.or-bar {
  position: relative;
  height: 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  border-top: 1px solid #ccc;
  margin: 30px 0;
}

div.or-txt {
  position: absolute;
  top: -8px;
  left: 42%;
  background: white;
  padding: 0 15px;
  font-style: italic;
  color: gray;
}

h2.message, h2.error {
  width: 328px;
  margin: 0 0 15px;
  color: #404040;
  padding: 10px;
  font-size: 10px;
  font-weight: normal;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

h2.message {
  background-color:#eff5db; border:1px solid #b1cd49;
}

h2.error {
  background-color:#ffcccc; border:1px solid red;
}

.nowrap {
  white-space: nowrap;
}

/*div.login-form {
  padding: 10px 20px 15px;
  width: 248px;
  background: white;

  border: 1px solid #ccc; 
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius: 5px;

  -moz-box-shadow:0 5px 20px #ccc; 
  -webkit-box-shadow:0 5px 20px #ccc;
  box-shadow:0 5px 20px #ccc;
}

div.login-form form {
  max-height: 160px;
}

div.login-form td {
  padding: 0;
  border-top: none;
}*/

label {
  font-size: 11px;
  padding: 0 0 2px 0;
  color: #666;
}

label.export-label {
  padding: 0;
  color: black;
  font-weight: bold;
  font-size: 10px;
}

input[type=text],
input[type=password] {
  background: #FBFBFB;
  font-size: 14px;
  margin: 2px 0 12px 0;
  padding: 3px;
  width: 97%;
  height: auto;
  color: #404040;
  border: 1px solid #CCC;
  font-weight: bold;

  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 100ms;
  transition-timing-function: ease-out;
  transition-duration: 100ms;
}

input[type=text]:focus,
input[type=password]:focus {
  background: #F8F8F8 !important;

  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.35);
}

.placeholder {
  color: gray !important;
}

input.export-input-text {
  display: inline-block;
  font-size: 12px;
  width: 36px;
  margin: 0 5px;
}

input:not([type=submit]):focus {
  background: rgba(255,255,255,0.1);
}

a.button,
div[role=button],
input[type=submit] {
  font-size: 11px;
  padding: 0 8px;
  font-weight: bold;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;

  height: 23px;
  line-height: 23px;
  min-width: 54px;
  outline: 0;
  text-align: center;
  display: inline-block;

  background-color: whiteSmoke;
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
  color: #444;
  border: 1px solid rgba(0, 0, 0, 0.1);

  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  cursor: default;

  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 100ms;
  transition-timing-function: ease-out;
  transition-duration: 100ms;
}

a.button:hover,
div[role=button]:hover,
input[type='submit']:hover {
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.35);
}

a.button:active,
div[role=button]:active,
input[type='submit']:active {
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.35);
}

a.button:focus,
div[role=button]:focus,
input[type=submit]:focus {
  border: 1px solid #98c1e6;
}

a.google-button {
  font-size: 14px;
  font-weight: bold;
  padding: 4px 0;
  margin: 0 auto;
  display: block;

  -webkit-text-shadow: 0px 1px white;
  -moz-text-shadow: 0px 1px white;
  text-shadow: 0px 1px white;
}

div[role=button].disabled {
  color: #AAA;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

div[role=button].disabled:hover {
  -moz-box-shadow: 0 0 0px rgba(0, 0, 0, 0.0);
  -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.0);
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.0);
}

div[role=button].disabled:active {
  border: 1px solid rgba(0, 0, 0, 0.05);
}

div[role=button] > div {
  background: url(/graphics/line-chart.png) no-repeat;
  width: 18px;
  height: 23px;
  display: inline-block;
  vertical-align: -7px;
}

div[role=button].little {
  font-size: 10px;
  padding: 0 6px;
  height: 17px;
  line-height: 17px;
  min-width: 28px;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0 5px 0 0;
  vertical-align: middle;
}

input:focus, textarea:focus {
  outline: none;
}

input::-moz-focus-inner, textarea::-moz-focus-inner {
  border: none;
}

input.input-alert {
  border: 1px solid rgba(255,0,0,0.4) !important;
}

input.button-alert[type=submit] {
  color: red !important;
}

span.landing-copy {
  color: #808080;
  font-size: 9px;
  position: relative;
  top: 420px;
  padding: 0 0 20px;
}

.settings-button {
  width: 12px;
  height: 12px;
  background: url(/graphics/gear_12.png) no-repeat;
  background-position: 0px 0px;
  float: right;
  margin: 4px 8px 0;
}

.settings-button-active {
  background-position: 0px -12px;
}

.settings-pane {
  width: 200px;
  min-height: 50px;
  position: absolute;
  top: 20px;
  right: 5px;
  background: rgba(51, 51, 51, 0.9);
  z-index: 10001;
}

.settings-pane > ul {
  margin: 0;
}

.settings-pane > ul > li {
  color: white;
  font-weight: bold;
  list-style-type: none;
  border-bottom: 1px solid #ccc;
}


#remember_me {
  margin: 0 5px 0 0;
}

.flex,
.flex-top,
.flex-bottom {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -moz-box-orient: horizontal;
}

.flex-top {}

.flex-bottom {}

.flex > div,
.flex-top > div,
.flex-bottom > div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

.resize-vertical {
  color: white;
  position: absolute;
  left: 50%;
  font-weight: bold;
  font-size: 12px;
  margin-top: -2px;
}

.resize-horizontal {
  display: -moz-box;
  display: -webkit-box;
  display: box;

  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;

  background: rgba(174,182,154,0.25);
  width: 10px;
  min-width: 10px;
  max-width: 10px;
  cursor: ew-resize;
}

.resize-horizontal:hover {
  background: rgba(255,128,128,0.5);
}

.resize-horizontal > div {
  display: -moz-box;
  display: -webkit-box;
  display: box;

  -moz-box-align: center;
  -webkit-box-align: center;
  box-align: center;
}

.resize-horizontal > div > div {
  -moz-box-flex: 0;
  -webkit-box-flex: 0;
  box-flex: 0;

  font-size: 16px;
  color: black;
  line-height: 6px;
  width: 4px;

  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.dashboard-top {
  padding: 0;
  width: 100%; 
}
.dashboard-bottom {
  padding: 0;
  width: 100%;
}
.dashboard-left {}
.dashboard-right {}

.dashboard-left-side {
  padding: 0 6px 0 0;
  width: 20%;
}

.dashboard-right-wide {
  padding: 0 0 0 7px;
  width: 80%;
}

div.small-button,
div.small-button-sticky,
div.small-button-light {
  float: right;
  font-size: 10px;
  line-height: 13px;
  padding: 0 4px;
  height: 14px;
  margin: 3px 1px 0 0;

  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

div.small-button-light:hover {
  border: none;
}

div.small-button:hover,
div.small-button-sticky:hover {
  border: none;
}

div.small-button:active,
div.small-button-light:active {
  border: none;
  background: #ccc;
}

div.small-button-sticky:active,
div.small-button-sticky-active {
  border: none;
  background: lightgreen;
}

input.dashboard-search {
  color: #333;
  float: right;
  margin: 3px 1px 0 0;
  font-size: 9px;
  border: none;
  background: #F1F1F1;
  padding: 1px;
  width: auto;
  height: 11px;
  font-weight: normal;
}
input.dashboard-search:focus {
  color: black;
  background: white;
}

.dashboard-item {
  display: none;
  background: white; 
  margin: 0;
  width: 100%;
  position: relative;
}

.dashboard-item-search { 
  display: inline;
  color: #808080;
  float: right;
  margin: -3px 0 0 0;
}

.dashboard-item-header {
  padding: 0 2px 2px 10px;
  background-color: #333;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  height: 17px;
}

.sub-header {
  background: #F2F2F2;
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #CCC;
}

.taller-header {
  height: 18px;
}

h1.dashboard-item-header-txt {
  color: white;
  font-size: 11px;
  margin: 0 50% 0 0;
  white-space: nowrap;
  padding: 3px 0 0;
}

a.dashboard-link {
  float: right;
  font-size: 18px;
  color: white;
  padding: 0 2px;
}

a.dashboard-link:hover {
  color: white;
}

a.dashboard-link:active {
  color: gray;
}

.dashboard-item-content {
  position: relative;
  z-index: 1;
/*  min-height: 34px;*/
}

.dashboard-item-content:focus {
  outline: none;
}

.dashboard-item-content::-moz-focus-inner {
  border: none;
}

.dashboard-spacer {
  background: none;
  width: 20px;
  min-width: 20px;
  max-width: 20px;
}

.scrollable {
  width: 100% !important;
}

p.dashboard-item-message {
  padding:10px 10px 10px 15px;
  color:#666;
  font-style: italic;
  white-space: nowrap;
}

tr.light {
  background: white;
}

tr.dark {
  background: rgba(187,231,213,0.25);
}

tr.dark:hover, tr.light:hover {
  background: rgba(174,182,154,0.2);
  /*background: rgba(194,254,6,0.5);*/
/*  background: rgba(252,241,129,0.5);*/
}

th, td {
/*  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
*/  min-height: 30px;
}

th {
  padding: 5px 10px;
  vertical-align:top;
  font-weight:normal;
  white-space: nowrap;
}
td {
  padding: 5px 10px;
  vertical-align: initial;
}

th:first-child,
td:first-child {
  padding-left: 15px;
}

th[align=right],
td[align=right] {
  padding-right: 20px;
}

thead {
  text-align: left;
  font-size: 10px;
  color: gray;
}

iframe {
  width: 100%;
  height: 500px;
}

ol.export-channel-list {
  max-height: 150px;
  overflow-y: scroll;
  background: #F8F8F8;
  font-size: 10px;
  color: #333;
  padding: 0;
  margin: 0 0 15px 0;
}

ol.export-channel-list li {
  line-height: 14px;
}

.editor-message {
  margin: 1px 20px 0 0;
  display: inline-block;
  font-size: 12px;
  display: none;
  float: right;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.edit-panel { 
  visibility: hidden;
  white-space: nowrap;
  display: block;
}

a.edit-link,
a.trash-link,
a.view-link,
a.config-link {
  font-weight: normal;
  font-size: 10px;
  text-decoration: none;
  font-style: normal;
  padding: 5px 0 0 0;
}
a.edit-link {
  color: #5880c0;
}
a.trash-link {
  color: red;
}
a.view-link {
  color: purple;
}
a.config-link {
  color: green;
}
a.edit-link:hover,
a.trash-link:hover,
a.view-link:hover,
a.config-link:hover {
  color: black;
}

.tabs {
  position: relative;
  display:none;
}

.tab-bar {
  position: absolute;
  top: 0;
  z-index: 1001;
  width: 100%;
}

.tab-bar-top {
  height: 7px;
}

.tab-bar-bottom {
  height: 2px;
}

.tab {
  position: absolute;
  top: -24px;
  height: 24px;
  z-index: 0;
}

.tab a {
  font-size: 10px;
  color: black;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.tab a:active {
  outline: none;
}

.tab a:hover {}

a.tab-closer {
  font-size: 10px;
  color: gray;
  position: absolute;
  right: 16px;
  top: 5px;
  
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

a.tab-closer:hover {
 color:black; 
}

.tab-side {
  display: inline-block;
  position: relative;
  top: -4px;
  width: 18px;
  height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.tab-content {
  display: inline-block;
  height: 23px;
  position: relative;
  top: 0;
  padding: 0 15px;
  background: white;
  border-top: 1px solid #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.tab-content > span {
  vertical-align: 12px;
  padding: 4px 0 0 0;
  display: inline-block;
}

.tab-content-inactive {
  color: gray;
  border-top: 1px solid #ccc;
}

.folder {
  width: 100%;
  padding: 0 0 0 0;
  display: none;
}

.tab-target {
  width: 100%;
}

#loading {
  width: 100%;
  height: 100%;
  position: absolute;

  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;

  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}

div.preferences {
  display: none;
}

.map {
  width: 100%;
  height: 100%;
  background: #b3b3b3 !important;
}

.map-tmp {
  background: #1c1c1c !important;
}

.map-info,
.map-time {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 10px;
  padding: 4px 6px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 3px, rgba(0, 0, 0, 0.65) 0 0 0 1px, inset rgba(255, 255, 255, 0.15) 0 1px 1px, inset rgba(0, 0, 0, 0.25) 0 -1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 3px, rgba(0, 0, 0, 0.65) 0 0 0 1px, inset rgba(255, 255, 255, 0.15) 0 1px 1px, inset rgba(0, 0, 0, 0.25) 0 -1px 1px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 3px, rgba(0, 0, 0, 0.65) 0 0 0 1px, inset rgba(255, 255, 255, 0.15) 0 1px 1px, inset rgba(0, 0, 0, 0.25) 0 -1px 1px;
  background: rgba(38,38,38,0.7);
  background-color: rgba(57,57,57,0.7);
  background-image: -moz-linear-gradient(top, rgba(57,57,57,0.7), rgba(38,38,38,0.7));
  background-image: -ms-linear-gradient(top, rgba(57,57,57,0.7), rgba(38,38,38,0.7));
  background-image: -o-linear-gradient(top, rgba(57,57,57,0.7), rgba(38,38,38,0.7));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(57,57,57,0.7)), to(rgba(38,38,38,0.7)));
  background-image: -webkit-linear-gradient(top, rgba(57,57,57,0.7), rgba(38,38,38,0.7));
  background-image: linear-gradient(top, rgba(57,57,57,0.7), rgba(38,38,38,0.7));
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-shadow: rgba(0, 0, 0, 0.8) 0 -1px 0;
  display: none;
}

.map-info {
  top: 20px;
  left: 20px;
}

.map-time {
  top: 20px;
  left: 20px;
}

.tree {
  width: 100%;
  height: 100%;
}

.row-replies {
  font-size: 10px;
  color: gray;
}

.note {
  position: absolute;
  width: 300px;
  z-index: 10001;
  background: rgba(51,51,51,0.95);

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);

  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}

.note::after {
  position: absolute;
  top: 8px;
  width: 0;
  display: block;
  border-color: transparent rgba(0,0,0,0.25);
  border-style: solid;
  content: "";
}

.left-triangle::after {
  left: -15px;
  border-width: 8px 15px 8px 0;
}

.right-triangle::after {
  right: -15px;
  border-width: 8px 0 8px 15px;
}

.note-header {
  background: yellow;
  padding: 1px 5px;
  cursor: default;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #CCC;
}

.note-header > span {
  color: black;
  font-size: 11px;
}

.note-content {
  background: rgba(255,255,255,0.95);
  border-bottom: 1px solid #CCC;
}

h2.note-user,
h2.note-user-reply {
  font-size: 11px;
  font-weight: bold;
  color: #111;
  padding: 2px 5px;
  background: rgba(144, 238, 144, 0.25);
}

h2.note-user-reply {
  background: rgba(173, 216, 230, 0.25);
}

.note-content-date {
  font-weight: normal;
  color: #111;
}

.note-body {
  padding: 2px 5px 5px;
  color: #333;

  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}

.note-add {}

textarea.note-text {
  width: 290px;
  min-height: 40px;
  padding: 5px;
  resize: vertical;
  border: none;
  background: rgba(255,255,255,0.9);
  color: #111;
  display: block;
}

.note-actions {
  padding: 5px;

  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: end;

  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: end;

  display: box;
  box-orient: horizontal;
  box-pack: end;
}

a.note-cancel {
  font-size: 10px;
  padding: 0 10px;
  cursor: pointer;
  color: white;
}

a.note-cancel:hover {
  color: red;
  text-decoration: underline;
}

a.note-cancel:active {
  color: black;
}

.note-loading {
  padding: 0 10px;
  display: none;
}

.note-loading > div {
  left: 0 !important;
  top: 8px !important;
}

.note-message {
  color: yellow;
  font-size: 10px;
  margin: 7px 0 0 0;
  padding: 0 10px;
  float: left;
  display: none;
}

.note-channels {
  padding: 2px 5px 5px;
  background: rgba(255,255,255,0.1);
}

.note-channels-header {
  color: white;
  font-weight: bold;
  font-size: 10px;
}

.note-channels > ul {
  margin: 0 0 0 15px;
}

.note-channels > ul > li {
  list-style-type: none;
  display: block;
  color: white;
  font-size: 10px;
}

.note-channels > ul > li > a {
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.note-channels > ul > li > a:hover {
  color: red;
}

.note-channels > ul > li > a:active {
  color: black;
}

.graph,
.timeline {
  width: 100%;
  height: 100%;

  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;

  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;

  overflow: hidden;
}

.graph > div {
  width: 100%;
  height: 100%;
  top: 0;
}

.empty-graph {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  display: -moz-box;
  display: -webkit-box;
  display: box;

  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
}

.empty-graph > div {
  height: 100%;
  margin: 0 auto;
  width: 100%;
  text-align: center;

  display: -moz-box;
  display: -webkit-box;
  display: box;

  -moz-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;

  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.empty-graph > div > span {
  color: gray;
  font-size: 12px;
  white-space: nowrap;
  cursor: default;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.graph-closer {
  background: gray;
  background-image: url(/graphics/graph-closer.png);
  width: 16px;
  height: 16px;
  position: absolute;
  right: 5px;
  top: 0;
  z-index: 10001;
}

.graph-closer:hover {
  background-image: url(/graphics/graph-closer-hover.png);
}

.note-canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

/*.flot-base {
  z-index: 2;
}

.flot-overlay {
  z-index: 1;
}
*/
.event-preview {
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(174,182,154,0.2);
  border-left: 1px dashed rgba(0, 0, 0, 0.3);
  border-right: 1px dashed rgba(0, 0, 0, 0.3);
  display: none;
}

.label-highlight {
  background: rgba(174,182,154,0.4);
  /* border: 1px dashed rgba(0, 0, 0, 0.3); */
}

.mouse-time {
  background: none;
  padding: 0 5px;
  margin: 2px 0 0;
  float: right;
}

.mouse-time > span {
  color: white;
  font-size: 9px;
  font-weight: bold;
  white-space: nowrap;
}

.timeline {
  /*background: #f2f2f2;*/
}

.timeline-window {
  position: absolute;
  width: 1px;
  height: 40px;
  display: none;
/*  background: rgba(64, 194, 237, 0.2);*/
/*  background: rgba(0, 0, 0, 0.4);*/
/*  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
*/  z-index: 10001;
  background: rgba(174,182,154,0.2);
  border-left: 1px dashed rgba(0, 0, 0, 0.3);
  border-right: 1px dashed rgba(0, 0, 0, 0.3);
}

.timeline-window-handle-left,
.timeline-window-handle-right {
  background: none;
  height: 25px;
  width: 1px;
  position: absolute;
  border-left: 1px dotted #666;
  border-right: 1px dotted #666;
  z-index: 1;
  top: 9px;
  display: none !important;
}

.timeline > div {
  width: 100%;
  height: 100%;
}

.timeline-icon {
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.legend {
  cursor: default;
}

.legend > table {
  width: auto;
  background: rgba(255,255,255,0.9);
  z-index: 10002;

  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.legend > div {
  display: none;
}

.legend td {
  padding: 3px 5px;
  border-top: none;
  text-align: right;
  font-weight: bold;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.legendLabel {
  /*width: 200px;*/
}

.legendLabel span {
  white-space: nowrap;
  color: #333;
}

.legendValue {
  width: 100px;
  font-weight: normal !important;
  color: black;
  padding-top: 3px !important;
}

a.label-closer {
  font-size: 10px;
  color: gray;
}

a.label-closer:hover {
 color:black; 
}

.legendColorBox {
  width: 18px;
  vertical-align: middle;
}

.axisTarget {
  position: absolute;
  z-index: 10001;
  background-color: rgba(128,255,255,0.1);
  opacity: 0;
  cursor: crosshair;
}

.tree a {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.tree a::-moz-selection,
.tree ins::-moz-selection,
.tree a::selection,
.tree ins::selection {
  background: transparent;
  color: black;
}

.miniColors-trigger {
  height: 15px;
  width: 15px;
  vertical-align: middle;
  display: inline-block;
  outline: none;
  margin: 3px 6px 3px 3px;
  z-index: 10001;
  
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.miniColors-selector {
  position: absolute;
  width: 175px;
  height: 150px;
  background: rgba(255,255,255,0.4);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  padding: 5px;
  z-index: 999999;
}

.miniColors-selector.black {
  background: #000;
  border-color: #000;
}

.miniColors-colors {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 150px;
  height: 150px;
  background: url(/graphics/gradient.png) center no-repeat;
  cursor: crosshair;
}

.miniColors-hues {
  position: absolute;
  top: 5px;
  left: 160px;
  width: 20px;
  height: 150px;
  background: url(/graphics/rainbow.png) center no-repeat;
  cursor: crosshair;
}

.miniColors-colorPicker {
  position: absolute;
  width: 11px;
  height: 11px;
  background: url(/graphics/circle.gif) center no-repeat;
}

.miniColors-huePicker {
  position: absolute;
  left: -3px;
  width: 26px;
  height: 3px;
  background: url(/graphics/line.gif) center no-repeat;
}



/*
    // ========================================== \\
   ||                                              ||
   ||               End Mission Style              ||
   ||                                              ||
    \\ ========================================== //
*/


.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
