<%
  var user = this.app.profile.user;
%>

<div class="note-wrap note-wrap-new leftsided">
  <div class="comment-input-wrap">
    <% if (user) { %>
      <% if (user.role !== 2) { %>
        <div class="comment">
          <div class="comment-body">
            <form enctype="multipart/form-data" method="POST" class="comment-input-form">
              <textarea name="body" class="comment-input" 
                  placeholder="Add a note..."></textarea>
              <span>Press enter to submit or escape to cancel.</span>
            </form>
          </div>
        </div>
      <% } else { %>
        <div class="invalid-role">
          Invalid user role.
        </div>
      <% } %>
    <% } else if (!this.app.embed) { %>
      <a href="/signin" class="comments-signin">
        Sign in to add a note.
      </a>
    <% } %>
  </div>
</div>
<div class="note-selector"></div>
<div class="list-header"></div>
<% if (this.collection.models.length > 0) { %>
  <% _.each(this.collection.models, _.bind(function(row) { %>
    <%= this.row(row) %>
  <% }, this)); %>
<% } %>
