<%

  // Gravatar
  var gravatar = 'https://www.gravatar.com/avatar/'
      + this.app.profile.user.gravatar + '?s=60&d=mm';
%>

<table>
  <tr class="list-header">
    <td class="main-cell">
      <div class="profile-avatar">
        <img src="<%= gravatar %>" width="60" height="60" />
      </div>
      Data mashups
    </td>
    <td>
      No. sources / No. channels
    </td>
    <td>
      Last updated
    </td>
    <td class="profile-item-delete">&nbsp;</td>
  </tr>
  <% if (this.collection.models.length > 0) { %>
    <% _.each(this.collection.models, _.bind(function(row) { %>
      <%= this.row(row) %>
    <% }, this)); %>
  <% } %>
</table>
