<% var name = this.model.name();
   name += this.model.get('units') ? ' (' + this.model.get('units') + ')' : '';
%>

<a href="javascript:;" class="channel-button tooltip" title="Toggle channel">
  <div class="channel-name">
    <span class="channel-yaxis-code-wrap">
      <span class="channel-yaxis-code tooltip" title="Toggle y-axis">
        <i class="icon-angle-left"></i>
      </span>
    </span>
    <div class="channel-name-text">
      <%= name %>
    </div>
  </div>
</a>
<a href="javascript:;" class="channel-settings tooltip" title="Channel settings">
  <i class="icon-sliders"></i>
</a>
