<%
  var gravatar = 'https://www.gravatar.com/avatar/'
      + this.model.get('author').gravatar + '?s=34&d=identicon';
%>

<a href="/<%= this.model.get('author').username %>" class="event-comment-avatar navigate">
  <img src="<%= gravatar %>" width="34" height="34" />
</a>
<div class="event-comment-body"><p><%= this.model.body(true) %></p></div>
<div class="event-comment-info">
  <time class="created static" 
      datetime="<%= this.model.get('created') %>" 
      title="<%= this.model.get('created') %>">
    <%= this.model.get('created') %>
  </time>
  <% if (this.app.profile.user &&
        this.model.get('author').id === this.app.profile.user.id) { %>
    <span class="info-divider">&nbsp;&middot;&nbsp;</span>
    <a href="javascript:;" class="info-delete">delete</a>
  <% } %>
</div>
