<%
  var model = this.model;
  var gravatar = 'https://www.gravatar.com/avatar/'
      + model.get('author').gravatar + '?s=26&d=identicon';
  var parent = model.get('parent') || model.get('target');
  var link = model.get('parent_type') === 'dataset' ?
      [parent.author.username, parent.id].join('/'):
      [parent.author.username, 'views', parent.slug].join('/');
%>

<div class="event-title">
  <a href="/<%= model.get('author').username %>" class="title navigate">
    <%= model.formatAuthorFor(this.app.profile.user) %></a> wrote a <a href="<%= link %>/note/<%= model.id %>" class="title navigate">note</a> on  
    <a href="/<%= link %>" class="title navigate"><%= parent.title || parent.name %></a>.
</div>
<span class="event-title-text">
  <%= model.body() %>
</span>
<span class="event-timeline-label event-timeline-label-first">
  <i class="icon-<%= this.model.get('public') === false ? 'lock': 'bookmark' %>"></i>
</span>
<% if (this.model.get('channels').length !== 0) { %>
  <ul class="event-channels">
    <% _.each(this.model.get('channels'), _.bind(function (c) { %>
      <li id="<%= c.channelName %>" data-id="<%= c.id %>">
        <a href="/<%= this.model.get('author').username %>/<%= c.did %>/<%= c.channelName %>"
            class="navigate">
          <span class="event-timeline-label">
            <i class="icon-chart-line"></i>
          </span>
          <span class="event-timeline-label-text"></span>
          <span class="event-channel-name">
            <%= c.humanName %>
          </span>
          <div class="event-channel-svg"></div>
          <p class="event-channel-note"></p>
        </a>
      </li>
    <% }, this)); %>
  </ul>
<% } %>
<div class="event-info">
  Added <a href="/<%= link %>/note/<%= model.id %>"
        class="navigate"><time class="created" 
        datetime="<%= model.get('created') %>" 
        title="<%= model.get('created') %>">
    <%= model.get('created') %>
  </time></a>
</div>
<div class="event-comments"></div>
