<%
  var model = this.model;
  var gravatar = 'https://www.gravatar.com/avatar/'
      + model.get('author').gravatar + '?s=28&d=identicon';

  var channels = model.get('channels');
  var link;
  if (model.id !== -1 && model.get('parent')) {
    link = model.get('parent_type') === 'view' ?
        [model.get('parent').author.username, 'views', model.get('parent').slug].join('/'):
        [model.get('parent').author.username, model.get('parent').id].join('/');
  } else {
    link = '#';
  }
%>

<div class="note-bar"></div>
<div class="note-wrap leftsided">
  <span class="note-cancel">
    <i class="icon-cancel"></i>
  </span>
  <div class="comment">
    <a href="/<%= model.get('author').username %>" class="comment-avatar navigate">
      <img src="<%= gravatar %>" width="28" height="28" />
    </a>
    <div class="comment-body">
      <p>
        <a href="/<%= model.get('author').username %>" class="comment-author navigate">
          <%= model.get('author').displayName %>
        </a>
        <%= model.body() %>
      </p>
      <% if (channels && channels.length > 0) { %>
        <div class="note-channels">
          <!-- <span class="note-channels-heading">Channels</span> -->
          <ul class="note-channels-list">
            <% _.each(channels, function (c) { %>
              <li>
                <a href="javascript:;" class="note-channel" data-channel="<%= c.channelName %>">
                  <i class="icon-chart-line"></i> <%= model.formatChannelName(c.humanName) %>
                </a>
              </li>
            <% }); %>
          </ul>
        </div>
      <% } %>
      <div class="comment-info">
        <% if (model.get('parent_type') === 'view') { %>
          <span class="comment-code comment-code-view"></span>
        <% } else if (model.get('parent_type') === 'dataset') { %>
          <% if (model.get('leader')) { %>
            <span class="comment-code comment-code-dataset-leader"></span>
          <% } else { %>
            <span class="comment-code comment-code-dataset"></span>
          <% } %>
        <% } %>
        <a href="/<%= link %>/note/<%= model.id %>" class="note-permalink navigate">
          <time class="created" 
              datetime="<%= model.get('created') %>" 
              title="<%= model.get('created') %>">
            <%= model.get('created') %>
          </time>
        </a>
        <% if (this.app.profile.user &&
            model.get('author').id === this.app.profile.user.id) { %>
          <span class="info-divider">&nbsp;&middot;&nbsp;</span>
          <a class="info-delete">delete</a>
        <% } %>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="replies"></div>
</div>
