<%

  var num_datasets = 0;
  var num_channels = 0;
  _.each(this.model.get('datasets'), function (d) {
    ++num_datasets;
    num_channels += _.size(d.channels);
  });
  if (num_channels === 1) {
    num_channels += ' channel';
  } else {
    num_channels += ' channels';
  }
  if (num_datasets === 1) {
    num_datasets += ' dataset';
  } else {
    num_datasets += ' datasets';
  }

  var tags = this.model.get('tags') || [];
  var vcnt = this.model.get('vcnt') === undefined ? 0: this.model.get('vcnt');

  var privacy;
  if (this.app.profile.user && this.model.get('author').id === this.app.profile.user.id) {
    if (this.model.get('public') === false) {
      privacy = 'visible to you only';
    } else if (this.model.get('author').privacy === 0) {
      privacy = 'public';
    } else if (this.model.get('author').privacy === 1) {
      privacy = 'visible to you and your followers';
    }
  }
%>

<% if (!this.parentView) { %>
  <% if (this.config) { %>
    <div class="leftside settings">
    <h2 class="divider">View Information</h2>
    <span class="event-timeline-label event-timeline-label-first">
      <i class="icon-folder-empty"></i>
    </span>
    <form enctype="multipart/form-data" method="POST">
      <table>
        <tbody>

          <tr>
            <td>
              <label for="datasetTitle">Title</label>
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" tabindex="1" id="ViewName" name="name" style="text-indent:85px;"
                  class="view-param" placeholder="name" value="<%= this.model.formatTitle() %>" />
              <label class="checkbox-styled input-checkbox">
                <% if (this.model.get('public') === false) { %>
                  <input class="save-private" type="checkbox" name="private" value="private" checked="checked" />
                  <span style="padding:0; width:84px;"><i class="icon-lock"></i> Private</span>
                <% } else { %>
                  <input class="save-private" type="checkbox" name="private" value="private" />
                  <span style="padding:0; width:84px;"><i class="icon-lock-open"></i> Public</span>
                <% } %>
              </label>
            </td>
          </tr>

          <tr>
            <td>
              <label for="viewTags">Tags</label>
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" tabindex="2" id="viewTags" name="tags"
                  class="view-param" placeholder="tags" value="<%= this.model.get('tags') %>" />
            </td>
          </tr>

          <tr>
            <td>
              <label for="viewDescription">Description</label>
            </td>
          </tr>
          <tr>
            <td>
              <textarea name="description" tabindex="3" id="viewDescription"
                  class="view-param" placeholder="Write something about your view..."><%= this.model.get('description') %></textarea>
            </td>
          </tr>

          <tr>
            <td style="padding-top:15px;">
              <a tabindex="6" href="javascript:;" class="demolish button connect-button delete-button">
                Delete View
                <i class="icon-right-open-big"></i>
              </a>
            </td>
          </tr>

        </tbody>
      </table>
    </form>

  <% } else { %>
    <div class="leftside">
  <% } %>
<% } %>

<% if (this.parentView) { %>
  <div class="event-title">
    <a href="/<%= this.model.get('author').username %>" class="title navigate">
      <%= this.model.formatAuthorFor(this.app.profile.user) %></a> created a 
      <%= this.model.get('public') === false ? 'private ': '' %><a href="/<%= this.model.get('author').username %>/views/<%= this.model.get('slug') %>"
          class="title navigate">view</a> 
      with <%= num_datasets %> and <%= num_channels %>.
  </div>
  <span class="event-title-text">
    <a href="/<%= this.model.get('author').username %>/views/<%= this.model.get('slug') %>"
        class="title-large navigate">
      <%= this.model.formatTitle() %>
    </a>
  </span>
<% } %>

<% if (this.config) { %>
  <h2 class="divider">View Channels</h2>
<% } else { %>
  <span class="event-timeline-label event-timeline-label-first">
    <i class="icon-<%= this.model.get('public') === false ? 'lock': 'folder-empty' %>"></i>
  </span>
  <% if (this.model.get('description') || tags.length > 0) { %>
    <p class="event-description">
      <%= this.model.description() %>
      <span class="event-tags">
        <% _.each(tags, function(t, i) { %>
          #<%= t %><% if (i < tags.length - 1) { %>,<% } %>
        <% }); %>
      </span>
    </p>
  <% } %>
  <% if (this.model.get('staticImgUrl')) { %>
    <a href="/<%= this.model.get('author').username %>/views/<%= this.model.get('slug') %>/chart"
        class="image-anchor navigate">
      <img class="event-view-image" src="<%= this.model.get('staticImgUrl') %>" alt="<%= this.model.formatTitle() %>">
    </a>
  <% } %>
<% } %>

<% if (this.model.get('channels').length !== 0) { %>
  <ul class="event-channels">
    <% _.each(this.model.get('channels'), _.bind(function (c) { %>
      <li id="<%= c.channelName %>" data-id="<%= c.id %>">
        <a href="/<%= this.model.get('author').username %>/<%= c.parent_id %>/<%= c.channelName %>"
            class="navigate">
          <span class="event-timeline-label">
            <i class="icon-chart-line"></i>
          </span>
          <span class="event-timeline-label-text"></span>
          <span class="event-channel-name">
            <%= c.humanName %>
          </span>
          <div class="event-channel-svg"></div>
          <p class="event-channel-note"></p>
        </a>
        <% if (this.config) { %>
          <a href="javascript:;" class="event-channel-delete">
            <i class="icon-cancel"></i>
          </a>
        <% } %>
      </li>
    <% }, this)); %>
  </ul>
<% } %>
<% if (!this.config) { %>
  <div class="event-info">
    Added <a href="/<%= this.model.get('author').username %>/views/<%= this.model.get('slug') %>"
          class="navigate"><time class="created" 
          datetime="<%= this.model.get('created') %>" 
          title="<%= this.model.get('created') %>">
      <%= this.model.get('created') %>
    </time></a>
    <span class="info-divider">&nbsp;&middot;&nbsp;</span>
    <%= vcnt %> view<%= vcnt === 1 ? '': 's' %>
    <% if (this.app.profile.user &&
        this.model.get('author').id === this.app.profile.user.id) { %>
      <span class="info-divider">&nbsp;&middot;&nbsp;</span>
      <a href="/<%= this.model.get('author').username %>/views/<%= this.model.get('slug') %>/config"
         class="info-settings navigate"><i class="icon-cog"></i>Configure
       </a>
    <% } %>
  </div>
  <div class="event-comments"></div>
<% } %>

<% if (!this.parentView) { %>
  </div>
  <div class="rightside">
    <% if (!this.config) { %>
      <div class="target-info">
        <span class="target-info-heading">Metadata</span>
        <ul class="target-info-list">
          <% if (privacy) { %>
            <li>This view is <strong><%= privacy %></strong></li>
          <% } %>
          <li><%= num_datasets %> and <%= num_channels %></li>
          <li>Begins on <%= util.getRelativeTime(new Date(this.model.get('time').beg/1000).valueOf()) %></li>
          <li>Spans <%= util.getDuration(this.model.get('time').end - this.model.get('time').beg, false) %></li>
          <li>Viewed <%= vcnt %> time<%= vcnt === 1 ? '': 's' %></li>
          <li>Created <%= util.getRelativeTime(new Date(this.model.get('created')).valueOf()) %></li>
          <li>Last updated <%= util.getRelativeTime(new Date(this.model.get('updated')).valueOf()) %></li>
        </ul>
      </div>
      <div class="target-info">
        <span class="target-info-heading">Notes</span>
        <div class="notes"></div>
      </div>
    <% } %>
    <!-- <div class="target-info">
      <span class="target-info-heading">Change History</span>
      <div class="event-history"></div>
    </div> -->
  </div>
  <div class="clearfix"></div>
  <div class="footer">
    <ul>
      <li>
        <a href="/contact" class="navigate">Contact</a>
      </li>
      <li>
        <a href="/privacy" class="navigate">Privacy Policy</a>
      </li>
      <li>
        <a href="/terms" class="navigate">Terms of Use</a>
      </li>
    </ul>
  </div>
<% } %>
