div.login-wrap
  div.login
    img(src="/graphics/login_logo.png", style='margin:20px 0 30px 40px;')
    - if (report && report !== '') {
      h2(class=type)
        =report
    - }
    a.button.google-button(href="/auth/google")
      // img(src="/graphics/google_24.png")
      span(style="vertical-align: 7px; padding: 10px;") Sign In with Google Account
    div.or-bar
      div.or-txt Or
    form.signin-form(action="/login", method="post")
      div
        label Email Address:
        input(type="text", name="username", value=have.email || '', class=missing.email ? 'input-alert' : '')
        br
      div
        label Password:
        input(type="password", name="password", value=have.password || '', class=missing.password ? 'input-alert' : '')= have.password || ''
      div
        input#signin(type="submit", value="Sign In")

