li
  | Hi, 
  =name + ' (' + email + ')'
li
  a#logout.menubar-link(href="javascript:;", title="Sign Out")
    | Log Out
li
  a#permalink(href="javascript:;")
    img#link-icon(src="/graphics/link.png")

